In [6]:
import pandas as pd
df = pd.read_csv('RR25_UW.csv', nrows=10)
print(df)

           Record Date   Entry Type  Booking ID Booking Location  \
0  2025-01-01 04:00:18  Transaction    77025249  Online checkout
1  2025-01-01 04:00:18  Transaction    77025249  Online checkout
2  2025-01-01 04:00:18   Adjustment    77025249  Online checkout
3  2025-01-01 06:19:59  Transaction    85186557  Online checkout
4  2025-01-01 07:06:59  Transaction    85187066  Online checkout
5  2025-01-01 07:06:59  Transaction    85187066  Online checkout
6  2025-01-01 07:15:06  Transaction    85187203  Online checkout
7  2025-01-01 07:22:53  Transaction    85187358  Online checkout
8  2025-01-01 07:22:53  Transaction    85187358  Online checkout
9  2025-01-01 07:34:11  Transaction    85187623  Online checkout

   Payment Device  Product Reporting Name  \
0             NaN                     NaN
1             NaN                     NaN
2             NaN                     NaN
3             NaN                     NaN
4             NaN                     NaN
5             NaN                     NaN
6             NaN                     NaN
7             NaN                     NaN
8             NaN                     NaN
9             NaN                     NaN

                                        Product Name  Ticket Reporting Name  \
0  MINI ROVER Membership ($30 P/M, Non-Transferable)                    NaN
1                 COSMOS, POWER PLAY - 2HRS (13+YRS)                    NaN
2  MINI ROVER Membership ($30 P/M, Non-Transferable)                    NaN
3                           ASTROTOT - 2HRS (1-2YRS)                    NaN
4        UNIVERSE, HEAD FOR HEIGHTS - 2HRS (5-12YRS)                    NaN
5                                 AREA 51 GRIP SOCKS                    NaN
6        UNIVERSE, HEAD FOR HEIGHTS - 2HRS (5-12YRS)                    NaN
7          UNIVERSE, CLIMB THE WALLS - 1HR (5-12YRS)                    NaN
8                                 AREA 51 GRIP SOCKS                    NaN
9             UNIVERSE, POWER PLAY - 2HRS (5-12 YRS)                    NaN

                                 Ticket Name  Funds Received  ...  \
0                      Mini Rover Membership           30.00  ...
1   2 Hours - Weekends and Holidays (13+YRS)            0.00  ...
2                      Mini Rover Membership            0.00  ...
3          2 Hours - Public Holiday (1-2YRS)           18.62  ...
4         2 Hours - Public Holiday (5-12YRS)          106.68  ...
5                         AREA 51 GRIP SOCKS           10.82  ...
6  2 Hours - Weekends and Holidays (5-12YRS)           62.31  ...
7          1 Hour - Public Holiday (5-12YRS)           47.87  ...
8                         AREA 51 GRIP SOCKS            7.29  ...
9  2 Hours - Weekends and Holidays (5-12YRS)           82.20  ...

   Redeemed Ticket Quantity  Expired Ticket Quantity  \
0                         0                        0
1                         0                        0
2                         0                        0
3                         0                        0
4                         0                        0
5                         0                        0
6                         0                        0
7                         0                        0
8                         0                        0
9                         0                        0

   Recognised Ticket Quantity  Credit Card Fee Amount Transaction Fee Amount  \
0                           0                     0.0                    0.0
1                           0                     0.0                    0.0
2                           0                     0.0                    0.0
3                           0                     0.0                    0.0
4                           0                     0.0                    0.0
5                           0                     0.0                    0.0
6                           0                     0.0                    0.0
7                           0                     0.0                    0.0
8                           0                     0.0                    0.0
9                           0                     0.0                    0.0

   Product Booking Fee Amount Booking Modifier Amount Discount Code Used  \
0                         0.0                     0.0                NaN
1                         0.0                     0.0                NaN
2                         0.0                     0.0                NaN
3                         0.0                     0.0                NaN
4                         0.0                     0.0                NaN
5                         0.0                     0.0                NaN
6                         0.0                     0.0                NaN
7                         0.0                     0.0                NaN
8                         0.0                     0.0                NaN
9                         0.0                     0.0                NaN

           Expiry Date External Payments
0  2025-05-29 23:59:00               0.0
1  2024-06-01 17:40:00               0.0
2  2025-05-29 23:59:00               0.0
3  2025-01-01 10:40:00               0.0
4  2025-01-01 12:40:00               0.0
5  2025-01-01 12:40:00               0.0
6  2025-01-03 10:40:00               0.0
7  2025-01-01 09:20:00               0.0
8  2025-01-01 09:20:00               0.0
9  2025-01-02 12:40:00               0.0

[10 rows x 45 columns]

In [7]:
df25.columns

Index(['Record Date', 'Entry Type', 'Booking ID', 'Booking Location',
       'Payment Device', 'Product Reporting Name', 'Product Name',
       'Ticket Reporting Name', 'Ticket Name', 'Funds Received', 'Discount',
       'Fee Revenue', 'Tax Collected', 'Tax %', 'Status', 'Transaction ID',
       'Transaction Location', 'Payment Method', 'Gateway ID', 'GL Code',
       'Ticket Quantity', 'Company Name', 'Tax On Fees', 'Deferred Rev',
       'Other Deferred Rev', 'Gift Card Def Rev', 'Acc Receivable',
       'Gross Revenue', 'Discounts Recognised', 'Tax Payable', 'Net Revenue',
       'Unit Cost', 'Product Id', 'Item Transaction Value', 'Item Quantity',
       'Redeemed Ticket Quantity', 'Expired Ticket Quantity',
       'Recognised Ticket Quantity', 'Credit Card Fee Amount',
       'Transaction Fee Amount', 'Product Booking Fee Amount',
       'Booking Modifier Amount', 'Discount Code Used', 'Expiry Date',
       'External Payments'],
      dtype='object')

In [5]:
df.columns

Index(['Record Date', 'Entry Type', 'Booking ID', 'Booking Location',
       'Payment Device', 'Product Reporting Name', 'Product Name',
       'Ticket Reporting Name', 'Ticket Name', 'Funds Received', 'Discount',
       'Fee Revenue', 'Tax Collected', 'Tax %', 'Status', 'Transaction ID',
       'Transaction Location', 'Payment Method', 'Gateway ID', 'GL Code',
       'Ticket Quantity', 'Company Name', 'Tax On Fees', 'Deferred Rev',
       'Other Deferred Rev', 'Gift Card Def Rev', 'Acc Receivable',
       'Gross Revenue', 'Discounts Recognised', 'Tax Payable', 'Net Revenue',
       'Unit Cost', 'Product Id', 'Item Transaction Value', 'Item Quantity',
       'Redeemed Ticket Quantity', 'Expired Ticket Quantity',
       'Recognised Ticket Quantity', 'Credit Card Fee Amount',
       'Transaction Fee Amount', 'Product Booking Fee Amount',
       'Booking Modifier Amount', 'Discount Code Used', 'Expiry Date',
       'External Payments'],
      dtype='object')

In [3]:
df25 = pd.read_csv('RR25_UW.csv')

/var/folders/_t/s9_cqvqj4_n614936xfgdv_00000gn/T/ipykernel_53477/1749042441.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df25 = pd.read_csv('RR25_UW.csv')

In [26]:
df25['Entry Type'].unique()

array(['Transaction', 'Adjustment', 'Recognition'], dtype=object)

In [17]:
df25['Booking Location'].unique()

array(['Online checkout', 'POS', 'Venue manager'], dtype=object)

In [27]:
df25['Payment Device'].unique()

array([nan, 'POS 4', 'Reception POS 2', 'POS 3', 'Mollis Ice Cream',
       'Reception POS 1', 'Juice Truck', 'Night Market: Roller Skate',
       'POS 5', 'Night Market POS 1', 'Night Market POS 2'], dtype=object)

In [28]:
df25['Product Reporting Name'].unique()

array([nan])

In [29]:
df25['Product Name'].unique()

array(['MINI ROVER Membership ($30 P/M, Non-Transferable)',
       'COSMOS, POWER PLAY - 2HRS (13+YRS)', 'ASTROTOT - 2HRS (1-2YRS)',
       'UNIVERSE, HEAD FOR HEIGHTS - 2HRS (5-12YRS)',
       'AREA 51 GRIP SOCKS', 'UNIVERSE, CLIMB THE WALLS - 1HR (5-12YRS)',
       'UNIVERSE, POWER PLAY - 2HRS (5-12 YRS)',
       'ADULT HELPER (HIGH ROPES)', 'MINI ROVER - 2HRS (3-4YRS)',
       'UNIVERSE, CLIMB THE WALLS - 2HRS (5-12YRS)', 'MILKY WAY PARTY',
       'Party Beverages', 'Kids Meals', 'TV Bday Message',
       'ADULT CARER COMPANION',
       'COSMOS, HEAD FOR HEIGHTS - 2HRS (13+YRS)',
       'UNIVERSE, HEAD FOR HEIGHTS - 1.5HRS (5-12YRS)',
       'MOLLIS ICE CREAM - 1 SCOOP (DAILY, 10AM - 8PM)', 'Drinks',
       'ECLIPSE PARTY', 'Upgrade My Party', 'Bouquet of Table Balloons',
       'Party Table Cloth Runners', 'Share Beverages',
       'GRAZING BOARDS TIL 13TH JULY', 'Staff Socks',
       'UNIVERSE, HEAD FOR HEIGHTS - 1HR (5-12YRS)',
       'POWER PLAY - 2HRS (18+YRS)',
       'COSMOS, CLIMB THE WALLS - 2HRS (13+YRS)', 'GRIP SOCKS',
       'MOONWALK - 1HR (5-12YRS)', '15x MULTI VISIT PASS, FOR ANY DAY',
       'MINI ROVER - 1HR (3-4YRS)', 'GIFT VOUCHER', 'Million Life',
       'MERCH', 'Mollis Pick & Mix',
       'COSMOS, CLIMB THE WALLS - 1HR (13+YRS)', 'Mollis Drink',
       'Mollis Cups and Cones',
       'UNIVERSE, CLIMB THE WALLS - 1.5HRS (5-12YRS)',
       'Mollis Icecream Candy III', 'Mollis Candy',
       'COSMOS, HEAD FOR HEIGHTS - 1HR (13+YRS)',
       'MOONWALK - 1.5HRS (5-12YRS)', 'MOONWALK - 2HRS (5-12YRS)',
       'Mollis Icecream Candy IV', 'GALACTIC STEP',
       'Mollis Candy Selection', 'COSMOS, POWER PLAY - 1HR (13+YRS)',
       'Mollis Icecream Candy', 'Lolly Bag', 'Mollis Slush',
       'Mollis Candy Selections II', 'Milk Shake Tall',
       'COSMOS, HEAD FOR HEIGHTS - 1.5HRS (13+YRS)', 'Mollis Milk Shake',
       'Mollis Lolly Platter', 'POWER PLAY - 1HR (18+YRS)',
       'COSMOS, CLIMB THE WALLS - 1.5HRS (13+YRS)',
       'MINIVERSE Membership ($40 P/M, Non-Transferable)', 'CAKEAGE',
       'Juice Truck', 'Juice Truck Tokens', 'Mollis Specialty Sundae',
       'Mollis Sundae', 'MOLLIS DRINKS', 'Mollis Icecream Spiders',
       'Mollis Smoothie', '6x MULTI VISIT PASS, FOR WEEKDAYS',
       '3x MULTI VISIT PASS, FOR WEEKDAYS', 'Corporate Socks Rate',
       'UNIVERSE MEMBER SESSION', 'Gift Voucher', 'SUPERNOVA PARTY',
       'COSMIC CREW Membership ($30 P/M, P/P, Non-Transferable)',
       'Mollis Banana Split', 'NIGHT MARKET: ROLLER SKATING',
       'Hire: Skate Mate Frame',
       'FAMILY Membership ($30 P/M, P/P, Non-Transferable)',
       'MINI ROVER MEMBER SESSION', 'ASTROTOT MEMBER SESSION',
       'LUNAR PARTY', 'Area 51 Gizmo Headband', 'Socks',
       'Hire: Knee and Elbow Pad',
       'UNIVERSE Membership ($60 P/M, Non-Transferable)',
       'COSMOS MEMBER SESSION', 'COSMIC CRUST PARTY',
       'Hire: Roller Skates', 'Helmet Hire',
       'ASTROTOT Membership ($30 P/M, Non-Transferable)',
       'Instant Cold Pack', 'Balloon', 'PIZZA PARTY FOR 10 PEOPLE',
       'Your Pizzas', 'Area 51 Gift Bag', 'Kids Meal (Group Bookings)',
       'COSMOS Membership ($60 P/M, Non-Transferable)',
       'FAMILY FUN PASS - 2HRS', 'Mollis Icecream Candy V',
       'FAMILY FUN PASS - 1HR', "The Queen's Pizza",
       'TV Birthday Message', 'PIZZA PARTY FOR 15 PEOPLE',
       'FAMILY FUN PASS - 1.5HRS', 'Area 51 Christmas Gift Voucher',
       '3 for 2 - UNIVERSE, POWER PLAY (5-12YRS)', 'Area 51 Calico Tote',
       'ASTROTOTS PARTY', 'Old Boards',
       '3 for 2 - COSMOS, POWER PLAY (13+ YRS)',
       '2 for 1 - UNIVERSE, POWER PLAY (5-12 YRS)',
       '2 for 1 - COSMOS, POWER PLAY (13+ YRS)',
       '2 for 1 - MINI ROVER (3-4YRS)',
       'ASTROTOTS BUB & ME COFFEE OR TEA - 2HRS (1-2YRS)',
       'MINI ROVER BUB & ME COFFEE OR TEA - 2HRS (3-4YRS)',
       'MINI ROVER BUB & ME COFFEE OR TEA - 1HR (3-4YRS)',
       'INTERSTELLAR PIZZA PARTY', 'UNIVERSE - 1HR (5-12YRS)',
       'COSMOS - 1HR (13+YRS)', 'INFINITE ROVERS', 'BBQ Party Pizza',
       'Aloha Pizza', 'Mollis Icecream Candy VI', 'Pepperoni Pizza',
       'COURT HIRE', 'Mini Backpack', 'Area 51 Bucket Hat - Kids',
       'Area 51 Cups', 'INFINITE ASTROTOTS', 'Orbit Rider',
       'Mollis Gift Pack', 'ORBIT RIDER', 'Jersey - Purple',
       'Jersey - Pink', 'Area 51 T-shirt - Red', 'Area 51 Basketball',
       'Area 51 T-Shirt - White', 'Area 51 Caps', 'ADDITIONAL HOUR',
       'Gizmo Essentials', 'Jersey - Green',
       'I need a Party Host for 2 Hours', 'Night Market Drinks',
       'Area 51 T-shirt - Purple', 'Specials',
       '3 for 2 - ASTROTOT (1 - 2 YRS)',
       '3 for 2 - MINI ROVERS (3 - 4 YRS)', 'Eco-to-Go Bamboo Cup',
       'Chicken Bites and Slushie Upgrade', 'Pizza and Chips',
       'Area 51 Bucket Hat - Adult', 'Miniverse Membership',
       'MINI ROVER - 1.5HRS (3-4YRS)', 'Dance Studio Rental Fee',
       'COSMOS, POWER PLAY - 1.5HRS (13+YRS)', 'Shared Beverages',
       'Adults Only Night x Redbull', 'GRAZING BOARDS FROM 14TH JULY'],
      dtype=object)

In [30]:
df25['Ticket Reporting Name'].unique()

array([nan])

In [4]:
df25['Ticket Name'].unique()

array(['Mini Rover Membership',
       '2 Hours - Weekends and Holidays (13+YRS)',
       '2 Hours - Public Holiday (1-2YRS)',
       '2 Hours - Public Holiday (5-12YRS)', 'AREA 51 GRIP SOCKS',
       '2 Hours - Weekends and Holidays (5-12YRS)',
       '1 Hour - Public Holiday (5-12YRS)', 'ADULT HELPER (HIGH ROPES)',
       '2 Hours - Public Holiday (3-4YRS)',
       'Milky Way Party (Weekends, Holidays)', 'Pop Top',
       'EVERY CHILD in the party gets Chicken Nuggets and Chips',
       'Hot Wheels', '1.5L Water', 'ADULT CARER COMPANION',
       '2 Hours - Public Holiday (13+YRS)',
       '1.5 Hours - Weekends and Holidays (5-12YRS)',
       'MOLLIS ICE CREAM - 1 SCOOP (DAILY, 10AM - 8PM)', 'Powerade Red',
       'Mount Franklin Water', 'Iced Tea Lemon',
       'Deluxe Eclipse (Weekends, Holidays) + $50 UPGRADE FEE',
       "Gabby's Dollhouse", 'Request to Upgrade for an ADDITIONAL $50',
       '1 x Bouquet (7pcs)', 'Purple', '600ml Water', 'Coke 2 LITRES',
       'Rasberry 1.1 LITRES', 'Sunkist 1.25 LITRES', 'Hot Savoury Board',
       'Staff Socks', '1 Hour - Public Holiday',
       'Adult 2 hr Power Play Pass', 'A51 Scks (L) - BLACK',
       '2 Hours - Infant Pass (0-11MNTHS)',
       '1 Hour - Weekends and Holidays',
       '15 x MULTI VISIT PASS (2 Hours)',
       '1 Hour - Public Holiday (3-4YRS)',
       '1 Hour - Weekends and Holidays (5-12YRS)', nan, '2 Tokens',
       'A51 Scks (M) - GREEN', 'MERCH', 'Pick n Mix', '$25',
       '1 Hour - Public Holiday (13+YRS)', 'Water Bottle',
       'Medium (Two Scoops)', 'Small (One Scoop)', 'Can Soft Drink',
       'Powerade Green', '1.5  Hours - Weekends and Holidays (5-12YRS)',
       'Powerade Orange', 'Frzzer Dry Candy Pack',
       'Mollis Slush Regula 16 oz', 'Pasito 600ml', '25 Tokens',
       'Cosmic Bigger Dipper', '1 Hour - Weekends and Holidays (3-4YRS)',
       '$60', 'Monster White', 'Pump Water Lime', 'Pump Water Berry',
       'Monster Black', 'Coke',
       '2 Hours - Weekends and Holidays (1-2YRS)',
       'CAROLINES 330ML YUZU COLA - SODA SUGAR FREE',
       'Mollis Slush small 10oz', '1.5 Hours - Public Holiday', 'Sprite',
       '2 Hours - Public Holiday', 'Cosmic Sour GoopsXXL Squeeze',
       'A51 Scks (XL) - BLACK', 'Kristy Faulkner', 'KRISTY CRBERRY',
       'Redbull', 'TNT 250ML SOUR FIZZ RASBERRY', '20 MINUTES',
       'Good 2 Grow AppleBlackcurrent green',
       'Gob Licker sour Strawberry', 'Sour Straps Splitz',
       'Large (Three Scoops)', 'Pump Water', 'Nerds Rope Berry stick',
       'Standard + $50 ROOM UPGRADE FEE | Public Holiday', 'Moana',
       'Black', 'Lolly Bag', 'Sour Straps RAINBOW', 'Slush Tall',
       'EVERY CHILD in the party gets Mini Dagwood Dog and Chips',
       'Area 51 Gizmo', 'GreenTea', 'Dino Transformant', 'Stamp candy',
       'Little Twin star grape flavor drink', 'A51 Scks (S) - GREEN',
       'Coke Vanilla', 'Kuromifytheworld', 'A51 Scks (xS) - YELLOW',
       '1 Hour - Weekends and Holidays (13+YRS)', 'Milk Shake Tall',
       'Lemon Squash', 'Sweet Bandit', 'Super Spray',
       'Ketty sweethearthandbag', 'Marhead Sour gel', 'Gummy Snake',
       '1.5 Hours - Weekends and Holidays (13+YRS)',
       '3Zombie Chews Mega Size Sour strawberry',
       'Warheads Sour Green Apple Soda',
       'Warheads Sour Black Cherry Soda', 'DR Pepper can 355ml',
       'Frostie Blue Cream Soda', 'TNT SOUR FIZZ', '16 oz',
       'Eclipse Party (Weekends, Holidays)',
       'EVERY CHILD in the party gets Vegan Sandwiches Veggie Sticks and Cheese Dip',
       'Solo 1.25 LITRES', 'Water 1.15 LITRES', 'Lemonade 1.1LITRES',
       'Vegetarian Hot Savoury Board', 'Vegetarian Cold Savoury Board',
       '10 oz', '2 Hours - Weekends and Holidays (3-4YRS)',
       'Giant Super Gummy Cola Bottle',
       'Deluxe Milky Way (Weekends, Holidays) + $50 UPGRADE FEE',
       'EVERY CHILD in the party gets GF Chicken Nuggets and Chips',
       'Roblox', 'Gold', 'Mollis Lolly Platter', 'Fruity Feast Board',
       'Sweet Tooth Board', 'Halal Hot Savoury Board',
       'Adult 1 hr Power Play Pass', 'Minecraft', 'Miniverse Membership',
       'CAKEAGE', '2 Hours - School Term Weekday (3-4YRS)',
       '2 Hours - Weekends and Holidays', 'Powerade Blue',
       'A51 Scks (S) - YELLOW', '$150', '6 Tokens', 'Inside Out',
       '1.5 Hours - Weekends and Holidays', 'ZAPPO MILLIONS BLUEBERRY',
       'A51 Scks (XXL) - BLACK', 'Pink Lemonade Sparkle', '$500',
       'Monster Punch', 'Mango Tango Twist', 'Lychee Nebula Nectar',
       'Mystery Flavour', 'Unlimited Refill', '1 Refill Token',
       'CHRISTAMAS MASHMALLOW STICK', 'Powerade Purple', '$30',
       'ZAPPO MILLIONS RAINBOW', '12 Tokens',
       'Giant Super Gummy Bear Box of 12', 'MM Chocolate small pack 49g',
       'Pricess Candy lip stick', 'Life Savers Fruit Pastilles',
       'Mario and Friends', 'STRAWBERRY RAINBOW DIPPER', 'Spider-Man',
       'Gizmo Kids Sundae', 'Cold Savoury Board', 'Pump Water Watermelon',
       'Caramel', '15 x MULTI VISIT PASS (1 Hour)', '1 Drink Token',
       'BLUEBERRY FLAOUR SODA WATER', 'Sourfoam candy blue',
       'Mollis Light Sparkling Water', 'Lemonade Spider',
       'ALIEN TWIST AND DIP', 'CANDY NECKLACE 20G', 'Zappo Raspberry 26g',
       'Pop Rocks Cola', 'Berry Smoothie 16oz', 'Mother',
       'life save Fruit tingles', 'Sweet Hotpot', 'Sourfoam Candy Red',
       '6 x MINI ROVERS / UNIVERSE (1 Hour), Save $24',
       '3 x MINI ROVERS / UNIVERSE (1 Hour), Save $6',
       'Zappo Strawberry Flavour 26g', 'AIT TNT SOUR FACE DIPS 15G',
       'Gob Licker Rasberry', '1 Hour - School Term Weekday',
       'Sour straps spltz', 'CRAZY CANDY ROBO POP', 'Apple Juice',
       '2 Hours - Group, Weekends and Holidays (1-2YRS)',
       '2 Hours - Group, Weekends and Holidays (3-4YRS)',
       '2 Hours - Group, Weekends and Holidays (5-12YRS)',
       'Corporate Socks',
       'EVERY CHILD in the party gets Vegan Nuggets and Chips',
       'TNT GOBS BALLS', 'PEZ Disney', 'Brain sucker', '$50', 'Fanta',
       'Test Rate', 'A51 Scks (XS)', 'The UPGRADE Fee', 'Blue',
       'Deluxe Supernova (Weekends, Holidays) + $50 UPGRADE FEE',
       'Cone basket', 'Cosmic Crew Membership',
       'Hotz sourlicious xtrasour', 'Two Scoops / Two Toppings',
       'Ginat Gummy Frog', 'Hammer candy', 'warheads xtreme sour mini',
       'Coca-Cola Zero Sugar', 'Monster Zero - Pink', 'COCONUT WATER CAN',
       'Monster Zero - Blue', 'Banana Smoothie 16oz', 'Lollipop Pokamon',
       '2 Hours - Group, Weekends and Holidays',
       'Strawberry Slide Sipper', 'Unlimited Skating',
       'Hire: Skate Mate Frame', 'Soccer', 'Batman', 'Chocolate',
       'Space Helicop', 'INIONS WOBBLERZ', 'pump toy', 'Iced Tea Peach',
       'TNT BRAIN GUNK', 'A51 Scks (XXL)', '$100', 'Bluey',
       'Family Membership', 'Grape Galactic Gear', 'Deli Grazing Board',
       'A51 Scks (XL)', 'Breakfast Board', 'Unicorn',
       'Cosmic shake candy', 'Lunar Party (Weekends, Holidays)',
       'Roblox for Boys', 'Fanta Strawberry', 'Mermaid', 'Monster Red',
       'Headband', 'Green', 'TOY CANDY WHAC A MOLE',
       'BARBIE WONDERBALL 25G', '1 Zombie Chews Mega Size Sour Cola',
       'Red', 'Toycandy Dino sharp Car', 'Fridge Candy drink machine',
       'Staff Discount Drink', 'Avengers', 'Monster Zero - Green',
       'Socks', 'kids drink apple', 'TNT SUPER SOUR GUMMY',
       'Fanta - Raspberry', 'Hire: Knee and Elbow Pad',
       'Universe Membership', 'Supernova Party (Weekends, Holidays)',
       '$250', 'Frozen', '$1000', 'Princess jewelry bag', 'FADS',
       'Fanta Berry', 'Fanta Grape',
       'Cosmic Crust | Weekends and Holidays', 'Fanta pineapple',
       'Passionfruit Pucker-Up', 'Zappo Bubblegum Flavour 26g',
       "Virgil's Root Beer 355ml glass", 'ZAPPO SOUR TWISTZ ROPES',
       'Deluxe Lunar (Weekends, Holidays) + $50 UPGRADE FEE',
       'Roller Skate - Small', 'Helmet Hire', 'Astrotot Membership',
       'Instant Cold Pack', 'Balloon', 'Yammiez mallow burger 50g',
       'Coke Spider', 'Warheads Sour Blue Raspberry Soda',
       'Ar51 Scks (S)', 'PIZZA PARTY FOR 10 PEOPLE',
       'Queens Pizza - Fresh Tomato Sauce, Mozzarella, Fresh Basil and Extra Virgin Olive Oil',
       'Pepperoni Pizza - NOT Spicy Pepperoni, Mozzarella, Napoli Sauce',
       'BBQ Party Pizza - BBQ Sauce, Mozzarella, BBQ Chicken and Bacon',
       'Merch and Toys', 'XLF Space Weapon', 'ICECREAM POP',
       'A51 Scks (XL) - PURPLE', 'Iced Tea Mango', 'Happy candy van',
       'Mini Dagwood Dog and Chips, Juice Popper or Water',
       'Tropical Juice', 'Kinder  Suprise  Natoons', 'GRAPE TWIST',
       '3 x MINI ROVERS / UNIVERSE (2 Hours), Save $7.50',
       'Staff Discount Bottle',
       'EVERY CHILD in the party gets Vegetarian Sandwiches Veggie Sticks and Cheese Dip',
       'Alien PoP', 'Mother - Rainbow Sherbet', 'One Scoop / One Topping',
       'giant oil gummyworm',
       'EVERY CHILD in the party gets Ham and Cheese Sandwiches Veggie Sticks and Cheese Dip',
       'EVERY CHILD in the party gets Fish Bites and Chips', 'Wish',
       'A51 Scks (M)', 'Orange Juice', 'Mega Snake',
       'Chicken Nuggets and Chips, Juice Popper or Water',
       '1 Hour - Group, Weekends and Holidays', 'Fanta Spider',
       'Strawberry', 'Cosmos Membership',
       'Aloha Pizza - Napoli Sauce, Mozzarella, Smoked Ham, Pineapple',
       'SUPER CANDY NECKLACE 57G', 'A51 Scks (xS) - PURPLE',
       'Chupchup Melody Pops', '$750', 'GIANT GUMMY SMOOTHIE',
       'GiantGummy Spider', 'Chatty Chomper', 'Sweet Beads',
       'Sherbet bottle', 'Life Savers Blackcurrent Pastilles',
       'Barbie Candy Lip stick and glo', 'KISS DOUBLE TROUBLE',
       "CAROLINE'S APPLE+blackcurrant", 'Test',
       '2 Hours - Universe: Head for Heights, Weekends and Holidays (5-12yrs)',
       '2 Hours - Cosmos: Head for Heights, Weekends and Holidays (13+yrs)',
       '2 Hours - Cosmos: Climb The Walls, Weekends and Holidays (13+yrs)',
       '2 Hours - Astrotots, Weekends and Holidays (1-2yrs)',
       '2 Hours - Mini Rover, Weekends and Holiday (3-4yrs)',
       'KINDER JOY', 'ToothBrush Candy', 'Warheads SUPER SOUR',
       '2 Hours - Universe: Climb The Walls, Weekends and Holidays (5-12yrs)',
       '1 Hour - Universe: Climb The Walls, Weekends and Holidays (5-12yrs)',
       '1 Hour - Mini Rover, Weekends and Holiday (3-4yrs)',
       'Warheads Sour Lemon Soda',
       '2 Hours - School Term Weekday Promo (5-12YRS)',
       'Warheads sour watermelon',
       '2 Hours - School Term Weekday Promo (13+YRS)', 'Toy Bottle',
       'PZE Princess', 'GIANT GUMMY MILKSHAKE', 'Paint Splash',
       'Slush puppy super spary', 'Kinder  Suprise  Ice World',
       '1 Hour - School Term Weekday (13+YRS)',
       '1 Hour - School Term Weekday (5-12YRS)',
       '2 Hours - Cosmos: Power Play, Weekends and Holidays (13+yrs)',
       '2 Hours - Universe: Power Play, Weekends and Holidays (5-12yrs)',
       '2 Hours - Group, Weekends and Holidays, 3pm to 9pm (5-12YRS)',
       '2 Hours - Group, Weekends and Holidays, 3pm to 9pm (13+YRS)',
       "The Queen's Pizza", 'Sour straps Watermelon', 'A51 Scks (L)',
       '2Zombie Chews Mega Size Sour blueberry', 'Chupa Chupa Lollipop',
       'Paw Patrol', 'Peppa Pig', 'ZOMBIE CHEWS WATERMELON', 'Pokemon',
       'DF Cold Savoury Board', 'Trolls', 'Monkey Swing',
       'YUGER FLAOVER SODA DRINK', 'COCA BOTTLE ZERO',
       'Dinosaur with Balloon', 'Sonic',
       'INFINITY PIZZA PARTY FOR 15 PEOPLE',
       'EVERY CHILD in the party gets GF Sandwiches Veggie Sticks and Cheese Dip',
       'ALIEN GUMMY CANDY LAB', 'Space musical projector gum',
       '2 Hours - School Term Weekday (1-2YRS)', 'Stitch',
       '2 Hours - Special School Term Weekday Ticket  (1-2YRS)',
       'Hello Kitty', 'Roller Skate - Medium', 'Roller Skate - Large',
       'Custom Amount', 'Good 2 Grow AppleBlackcurrent pink',
       'Peachy Keen Quencher', 'Transformers', 'Pop Rocks magic 2pack',
       'Warhead Sour Squeeze', 'Sweet Rolly',
       '6 x MINI ROVERS / UNIVERSE (2 Hours), Save $30',
       '1.5 Hours - Universe: Climb The Walls, Weekends and Holidays (5-12yrs)',
       '1.5 Hours - Cosmos: Climbing Walls, Weekends and Holidays (13+yrs)',
       '1 Hour - Group, Weekends and Holidays (5-12YRS)',
       'Sugar boss coffee can', '2 Hours - Camp Australia',
       'Slush puppie', '3rd Hour Free (Group)', 'Purple Tote',
       '1 Hour - Universe: Head for Heights, Weekends and Holidays (5-12yrs)',
       '1 Hour - Cosmos: Head for Heights, Weekends and Holidays (13+yrs)',
       '1 Hour - Group, School Term Weekday (13+YRS)', 'Mega Dipper',
       'Sourfoam  Candy Purple', 'Dinosaur with Cake', 'ASTROTOTS PARTY',
       'Fruity Feast Board (GF, DF, V)', 'Lego', 'Sour straps Strawberry',
       'Barbie', 'Mega sorbet bottle',
       '1 Hour - Cosmos: Climb The Walls, Weekends and Holidays (13+yrs)',
       'Coffee can less Sugar', '1.5  Hours - Public Holiday (5-12YRS)',
       '1.5 Hours - Cosmos: Head for Heights, Weekends and Holidays (13+yrs)',
       '1.5 Hours - Universe: Head for Heights, Weekends and Holidays (5-12yrs)',
       '1.5 Hours - Public Holiday (5-12YRS)',
       '2 Hours - Group, School Term Weekday (5-12YRS)',
       '1.5 Hours Public Holiday (13+YRS)', 'Homeschool Special',
       '1 Hour - School Term Weekday (3-4YRS)',
       '2 Hours - Mystery Group Tour with Pizza and Chips (13+YRS)',
       'X-treme Sour Straws strawberry', '2 Hours - School Term Weekday',
       'After School Special', '2 Hours - Astrotots Bub and Me',
       'Taylor Swift', '2 Hours - Mini Rover Bub and Me',
       'HI- CHEW FANTA', 'Pooplets', 'MOLLIS TOPPING 1.00',
       '1 Hour - Cosmos: Climb The Walls, School Term Weekday (13+yrs)',
       'FARTBOMB', 'Barlie candy fan', 'NRL', 'Warheads Spray Candy',
       'ITON ICETEA LYCHEE', 'POCHACCO PENS', 'HAPPY BIRTHDAY CHOCOLATE',
       'Spiderman', 'SUGARCANE JUICE 330ML', 'Zelda', 'Zombie Chew Grape',
       'YHB COEAN BOMB SPARKLING WATER LEMON', 'Trolli Mini Burger',
       'Dinosaur with Balloons',
       '1 Hour - Cosmos: Power Play, Weekends and Holidays (13+yrs)',
       '1 Hour - Mini Rover Bub and Me', 'GATOR CHOMP ORANGE',
       '1 Hour - Universe: Head for Heights, School Term Weekday (5-12yrs)',
       'Silver', 'Mickey',
       '2 Hours - Group, School Term Weekday (13+YRS)',
       'Teenage Mutant Ninja Turtles',
       '1 Hour - Mini Rover, School Term Weekday (3-4yrs)',
       '1 Hour - Universe: Climb The Walls, School Term Weekday (5-12yrs)',
       'GARFIELD CANDY JACKPOT', 'GF Deli Grazing Board',
       'MIKE &IKE JOLLY JOES 120G', 'S.PELLEGRINO SPARKLING WATER 500ML',
       'FRESHUP BIGFIZZ APPLE N PEAR',
       'Area51 Juice Truck - Lychee Juice', 'FRESHUP BIGFIZZ FEIJOA',
       'PINKY BAR 40G', 'MONSTER HIGH CANDY CASE', 'CRAZY HAIR',
       'Deluxe Milky Way (Midweek Special) + $50 UPGRADE FEE',
       'MILLION DOLLAR CHOCOLATE BAR', 'FRESHUP BIGFIZZ FRESH JUICE',
       'Slush Puppie Squeeze', 'MIKE N IKE MEGA MIX SOUR',
       'SOUR CANDY POWDER 36G', 'Wicked Fizz Grape chews', 'Froggy Chomp',
       'FANTA PEACH CAN', 'LEMONHEAD 23G',
       'RED HOTS CINNAMON FLAVORED CANDY',
       'Unlimited - School Term Weekday', 'Dummy Dipper',
       'Standard | Public Holiday',
       'Vegan Nuggets and Chips, Juice Popper or Water',
       'Sour Mini Burger', 'Paw patrol fan candy',
       '2 Hours - Universe: Power Play, School Term Weekday (5-12yrs)',
       '2 Hours - Mini Rover, School Term Weekday (3-4yrs)',
       'Sour OOZE TUBE', 'Bundabery creaming soda',
       'FUNDAY NO SUGAR ADDED SOUR PEACH', '66 Tokens',
       'Pokamon fruit candy', 'BBQ Party Pizza', 'Aloha Pizza',
       'SPONGEBOB CANDY CASE', 'Pepperoni Pizza',
       'UK MILLIONS RASBERRY 55G', 'BOURBON GANACHE CAKE',
       'WARHEADS OOZE POP', 'CYMBAL MONKEY',
       '1 Hour - Group, School Term Weekday (5-12YRS)', 'PEZ MICRAFT',
       'A51 Scks (S) - PURPLE', 'A51 Scks (M) - PURPLE', 'Court Hire',
       'GF Cold Savoury Board', 'Cosmic Ring Pop', 'Lickey Lips',
       'Mini Backpack', 'UNIVERSAL SPONGBOB CANDY POP', 'RING POP',
       'Orbit Rider',
       '2 Hours - Cosmos: Power Play, School Term Weekday (13+yrs)',
       'Big Boss Fruit', 'DOLLS small', '10 ROTATIONS',
       'Super Sour Doubles drops', 'Squeeze SLIMES', 'AQUA MALLOW POP',
       'Soothers', 'XS', 'Black (Light up)',
       '1 Hour - Group, School Term Weekday', 'PEE MINCRAFT',
       'Blue/Purple', 'M', 'Beige - Black Logo', 'ADDITIONAL HOUR',
       'FURUTAMY MY MELODY COOKIES', 'Wicked Fizz cola chews',
       'CTC SOUR DIPPER 30G', 'Rainbow', 'icecream dips 20g',
       'BUNNY JELLY BEAN CUBE', 'JDG 000', 'Gizmo - Keychain',
       'Rransfermers Rumune sparkling water', 'Animal World',
       'EGG POP DIP N LICK', 'Eclipse Party (Midweek Special)',
       'Toycandy fire extinguisher',
       '2 Hours - Astrotots, School Term Weekday (1-2yrs)',
       '1 Hour - Cosmos: Head for Heights, School Term Weekday (13+yrs)',
       'UNICORN DIPPER STAND 50G', 'FURUTA CHOCOLATE 12G',
       'Yammiez Sour Mallow Hot Dog Single', 'Xtreme Sour Straps',
       'TRANSFORMERS TOY CANDY', 'Laser Pop', 'JUICE DROP',
       'Warhead mega sour', "BUBBLE O'BILL CHOCOLATE",
       'lotte crunky chocolate birthday cake bis', 'LOVE HEARTS 39G', 'S',
       'COCA GLASS BOTTLE', 'YH Soda can strawberry',
       'Area51 Juice Truck - Mango Juice',
       'Area51 Juice Truck - Passionfruit Juice',
       'TNT Mega Sour Spray Blue Berry', 'SWIZZELS DOUBLE DIPS',
       'UK MILLIONS COLA 55G', 'CHOCOLATE PUDDLES THE PLAYPUS',
       'GF Chicken Nuggets and Chips, Juice Popper or Water',
       'Ham and Cheese Sandwiches, Veggie Sticks, Cheese Dip, Juice Popper or Water',
       'I need a Party Host for 2 Hours', 'PINK LEMONADE', '$4 Drink',
       '6 DARK DECADENCE CHOCOLATE EGGS', 'SOFT BULLET GUN',
       'HANDHELD WATER MACHINE', 'PINK SODA CAN',
       'warheads sour hard candy 28g', 'Zappo watermelon',
       'Trolli Gummi Pizza Small', 'MEIJI DIY MAGIC JELLY 16G',
       'Black - Small', 'Zappo grape', 'XL', 'POKKA GREEN TEA',
       'Peach tea900ml', 'Push Pop Box', 'FYND LIQUORICE WHEEL',
       'JUMBO PUSH POP', 'Kisspop', 'Sprakling coconut flavor water',
       'FRESHUP BIGFIZZ BLOODORANGE', 'BRAIN LICKER', 'Gizmo - Headband',
       'Easter Jelly Cup', 'HI CHOCOLATE TRUFFE', 'Quick Blasf',
       'CHOCOLATE BIKIN BUNNY', 'TOM N JERRY MARSHMALLOW 45G',
       'CRAFFIN SPLASH', 'Grey', 'Black - Beige Logo', 'Gizmo - Bag Tag',
       'A51 Scks (XXL) - PURPLE', 'Mallow Eyeballs with Jam',
       'CRAYON SHINCHAN RAMUNE CANDY', 'Black - Blue Logo', 'SWEET RIDE',
       'chocolate bush friends', 'Milky Way Party (Midweek)',
       'SORBENT SOUR', 'BSG ENERGY ICE BLAST', 'ZCHARY CANDY CORN',
       'WARHEAD SUPER SOUR TWIST AND SHAKE', 'BSG ENERGY ORANGE FIZZ',
       'BIG BOSS FRUIT PUNCH', 'WARHEADS SUPER SOUR',
       '1.5 Hours - Public Holiday (13+YRS)', '138 Tokens',
       'BSG ENEGRY LIME', 'Pink', 'Fairy Floss Blue', 'YS',
       'CANDY NOODLE CUP', 'SCREMERS SOURACHA', 'YXS',
       'Area51 Juice Truck - Strawberry Juice', 'Gizmo - Bag',
       'PIZZA PARTY FOR 15 PEOPLE', 'Beige', '3rd Hour FREE',
       'Mini Rovers', 'YM', '2 Hours - Mystery Group Tour (13+YRS)',
       'A51 Scks (L) - PURPLE', 'SHERBET FOUNTAIN', 'Creepy Jelly',
       'GENKI FOREST 1', 'L', 'MOLLIS TOPPING', 'Eco-to-Go Bamboo Cup',
       'Chicken Bites and Slushie Upgrade',
       'Standard + $50 ROOM UPGRADE FEE | Weekends and Holidays',
       'Mixture of Margherita and Pepperoni Pizza + Chips',
       'CHERRY COCA CAN', 'Standard | Weekends and Holidays',
       'SUGA SOURS', 'gummy bear M',
       'Deluxe: FOOD + $50 ROOM UPGRADE FEE | Weekends and Holidays', '-',
       'Margherita Pizza + Chips', 'fairy floss large',
       'Pepperoni Pizza + Chips',
       '2 Hours - Group, School Term Weekday (3-4YRS)',
       "Alien's Retro Party Mix", '2XL',
       'Standard + FOOD UPGRADE | Weekends and Holidays',

In [5]:
df25['Ticket Name'].nunique()

755

In [32]:
df25['Funds Received'].unique()

array([ 30.  ,   0.  ,  18.62, ..., 249.08,  14.82,  55.57],
      shape=(11656,))

In [33]:
df25['Discount'].unique()

array([ 0.0000e+00,  1.3500e+00,  1.0500e+00,  1.2000e+00,  6.9000e+01,
        4.2000e+00,  2.1900e+00,  1.8000e+02,  6.0000e+01, -8.0000e+01,
        4.9000e-01,  1.0200e+02,  5.1000e+01,  3.0000e+01,  7.0000e-01,
        6.0000e-01,  5.0000e-01,  7.5000e+00,  4.5000e+01,  1.0000e+00,
        2.5500e+00,  1.6500e+00,  2.2500e+00,  1.1000e+00,  2.8000e+01,
        4.0000e+01,  1.4000e+00,  9.0000e+01,  2.7000e+00,  1.5000e+01,
        9.0000e-01,  7.7000e-01,  3.6000e+00,  2.5800e+00,  7.5000e-01,
        2.5900e+00,  1.2000e+02,  1.5000e+00,  1.8000e+00,  1.2500e+00,
        8.6000e-01,  8.0000e-01,  6.9000e-01,  3.9000e+00,  1.8000e+01,
        2.0000e+01,  1.5680e+01,  8.4000e+00,  3.9200e+00,  5.6000e+01,
        2.1000e+00,  1.5000e+02,  1.3700e+00,  3.9000e-01,  3.3000e+02,
        1.0500e+02,  4.5000e+00,  3.0000e+00,  2.1100e+00,  2.0000e+00,
        1.4000e+01,  6.0000e+00,  5.6000e+00,  1.2000e+01,  4.2000e+01,
        2.4000e+01,  8.0000e+00, -8.0000e+00,  9.4000e-01,  2.2800e+00,
        1.0000e+02, -9.0000e+01,  5.4000e+00,  4.0000e+00,  1.1200e+01,
        1.2200e+00,  9.6000e+00,  4.5000e+02,  1.4600e+00,  9.5000e-01,
        1.1200e+00,  9.9000e-01,  1.1800e+00,  1.3000e+00,  6.6000e-01,
        2.8000e+00,  1.1100e+00,  3.8000e+00,  1.4400e+01,  1.1900e+00,
        3.0000e-01,  1.4700e+00,  8.3000e-01,  8.5000e-01,  3.2800e+00,
        1.3300e+00,  4.5000e-01,  1.5000e-01,  1.6000e+01,  1.1600e+00,
       -3.0000e+00, -5.6000e+00, -1.2000e+01,  1.1250e+01,  3.2000e+01,
        7.4000e-01,  1.7200e+00,  4.0000e-01,  2.5000e+00,  8.7000e-01,
        1.7900e+00,  1.6800e+00,  5.9000e-01,  4.1000e-01,  8.4000e-01,
        2.6900e+00,  1.0000e+01,  7.2000e+01,  2.4700e+00,  3.2900e+00,
        2.4000e+00,  1.2700e+00, -3.0000e+01,  2.1600e+00,  3.5000e-01,
        3.2000e+00,  1.0800e+01,  7.2000e+00,  1.7300e+00,  3.4500e+01,
        1.0900e+00, -2.4000e+01,  2.7000e+01,  5.1000e+00,  1.6200e+02,
        1.2750e+01,  9.7500e+00, -9.0000e-01, -1.8000e+00, -1.2750e+01,
       -9.7500e+00, -6.0000e+01,  1.9000e+00,  1.1000e-01,  4.8680e+01,
        1.5822e+02,  1.8100e+01,  2.1000e+02,  1.8200e+00,  2.3900e+00,
        1.3900e+00,  8.0000e+01,  2.1800e+00,  4.8000e+00,  1.0000e-01,
        6.5000e+00,  5.0000e+00,  7.0000e+00,  3.5000e+00,  5.0000e+01,
        3.3000e+00,  2.8800e+01,  5.4000e+01,  7.0000e+01, -1.0000e+02,
       -9.6000e+00,  5.7000e-01,  6.4000e-01,  1.9200e+01,  2.1500e+00,
        1.2150e+01,  1.2600e+00,  2.0000e-01,  1.6000e+00,  3.1500e+00,
        1.0600e+00,  1.1700e+00,  1.4100e+00, -5.0000e+00, -3.5000e+00,
        2.1000e+01,  9.0000e+00, -4.8000e+00,  6.3000e-01,  2.4000e+02,
        1.5700e+00,  1.1500e+00,  3.7200e+00,  8.1000e+01,  9.1000e-01,
        4.0800e+01,  3.0000e+02,  3.7600e+00,  7.2000e-01,  3.0100e+00,
        2.7000e+02,  7.6000e-01,  2.4900e+00,  1.0400e+00,  3.3500e+00,
        6.5000e-01,  5.4800e+00,  1.3500e+02,  1.6400e+00,  9.8000e-01,
        6.1000e-01,  1.1000e+01,  3.7500e+00,  1.0800e+02,  1.1300e+00,
        1.0300e+00,  4.3300e+00,  4.8000e+01,  1.0200e+00,  4.2000e-01,
       -1.8000e+01, -6.0000e+00,  2.1700e+00,  3.4000e+01,  1.8000e-01,
        1.7400e+00,  1.0200e+01,  2.0400e+01,  6.8000e+00,  1.6200e+01,
        1.9300e+00,  2.5000e+01,  3.8900e+00,  8.8000e-01,  1.9500e+00,
        9.6000e+01, -9.6000e+01,  1.5900e+00, -4.0000e+00,  6.0000e+02,
       -1.4400e+01,  2.0400e+00,  1.2300e+00,  1.7800e+00,  1.9200e+00,
        4.3800e+00, -2.7000e+02,  3.0000e-02,  4.7000e-01,  4.1400e+00,
        3.1600e+00,  4.8400e+00,  5.3000e-01,  7.8000e-01,  1.5800e+00,
        8.5000e+00,  1.8700e+00,  1.9400e+00,  7.3000e-01,  5.1000e-01,
        1.9800e+00,  3.6000e+01,  2.7200e+00, -1.5000e+01,  1.4000e-01,
        1.0800e+00,  1.2400e+00,  2.3400e+00,  5.6000e-01,  6.2000e-01,
        2.8100e+00,  2.4400e+00,  1.6000e+02,  4.6000e-01,  2.1930e+01,
        3.0700e+00,  1.3600e+00,  1.0350e+02,  1.0500e+01,  2.7700e+00,
        5.1750e+01,  9.2000e+00,  2.3000e+00,  1.7250e+01,  1.3800e+01,
        3.4500e+00,  2.3000e+01,  4.6000e+01,  1.1500e+01, -2.3000e+01,
        1.3800e+02,  1.2080e+01, -3.4500e+01,  2.8000e-01, -2.2500e+00,
        1.4200e+00,  2.2300e+00,  2.2500e+01,  2.0100e+00,  3.8600e+00,
        6.4000e+01,  2.4500e+00,  1.2900e+00,  1.9900e+00,  1.8900e+00,
       -4.8000e+01,  1.5300e+00,  1.7500e+00,  2.1400e+00,  1.5400e+00,
       -7.2000e+00,  3.6000e+02,  2.7200e+01,  1.4000e+02,  2.0700e+00,
        1.5100e+00,  9.0000e+02,  1.6200e+00,  2.0900e+00,  2.8700e+00,
       -1.5000e+02,  9.2000e-01, -4.0000e+01,  4.3520e+01,  6.4300e+00,
        1.7000e+01,  3.4000e+00,  8.4000e+01,  2.4200e+00,  2.5000e+02,
        2.0300e+00,  1.3600e+01,  1.4300e+00,  9.7000e-01,  2.3700e+00,
       -3.6000e+02, -4.6800e+02, -1.0400e+02,  3.8400e+00,  5.5000e-01,
        2.6500e+00,  1.6230e+01,  2.4800e+00,  8.1000e+00,  1.4800e+00,
        2.6000e+00,  2.6810e+01,  2.9700e+00,  2.3500e+00,  1.8960e+01,
        4.9900e+00,  7.8310e+01,  4.2600e+00,  2.1600e+01,  1.8800e+00,
        4.0500e+00, -2.7000e+00,  2.2900e+00,  4.4000e+01,  2.2000e+00,
        2.2200e+00,  1.8300e+00,  4.4800e+00,  2.8500e+00,  4.4000e-01,
        8.0000e-02,  2.3600e+00,  1.5270e+01,  3.8300e+00,  3.8200e+00,
        1.2350e+01,  4.4000e+00,  1.9200e+02,  1.9000e-01,  7.0000e-02,
        1.2800e+00,  8.8000e+01,  4.0800e+00, -1.7900e+00,  7.1000e-01,
        2.9000e-01,  2.5600e+02,  6.4000e+00,  1.8500e+00,  2.2000e+01,
        5.2500e+00,  1.3750e+01,  6.2500e+00,  1.3200e+00,  7.8000e+00,
       -7.8000e+00, -7.0000e-01,  1.7600e+00,  2.1000e-01,  1.4400e+00,
        5.8000e-01,  2.2600e+00, -2.3700e+00, -2.3600e+00,  1.5500e+00,
        1.2800e+02,  3.5000e+01,  3.5900e+00,  2.3100e+00,  1.1000e+02,
        1.3100e+00,  2.6400e+00])

In [34]:
df25['Fee Revenue'].unique()

array([ 0.  ,  1.37,  3.18, ..., 16.18,  9.96,  6.08], shape=(1645,))

In [35]:
df25['Tax Collected'].unique()

array([ 2.73,  0.  ,  1.57, ..., 36.71, 38.37, 24.36], shape=(3008,))

In [36]:
df25['Tax %'].unique()

array([10.,  0.])

In [37]:
df25['Status'].unique()

array(['Fully Paid', 'Partially Paid', 'Cancelled', 'Pending',
       'Complimentary'], dtype=object)

In [38]:
df25['Transaction Location'].unique()

array(['Recurring billing', 'Online checkout', 'POS', 'Venue manager'],
      dtype=object)

In [39]:
df25['Payment Method'].unique()

array(['Cards', nan, 'Cash', 'Gift card', 'Other', 'Bank transfer',
       'Eftpos'], dtype=object)

In [40]:
df25['Gateway ID'].unique()

array(['RGRD64KLNHCZ6RF3', nan, 'SSC9R96PH27WGMK9', ...,
       'CJW5XG2L53KTPCH4', 'NL2GBW3QXVLQ2CM4', 'R3FBSNLFHZWW2WF9'],
      shape=(114282,), dtype=object)

In [41]:
df25['GL Code'].unique()

array(['003', '001-4', '001-1', '001-3', '002-1', '002-3', '001-2',
       '005-8', '005 - 5', '1234', '016', '002-7', '011', '008-10',
       '005 - 4', '001-5', '01-6', '007', '015', '012', '020', '014',
       '202-555', '002-8', '019', '002-6', '010', '008-14', '008-11',
       '017', '005-9', '008', '008-12', '013', '005 - 7', '009', '008-13',
       'STAGE', '001-052', nan], dtype=object)

In [42]:
df25['Ticket Quantity'].unique()

array([   0,    1,    3,    2,    4,   11,    6,   10,    5,   -1,   -4,
         -2,   -3,    7,   16,   12,    9,   29,  -28,   14,    8,   25,
         -8,   -5,   20,   15,  -10,  -15,  -20,   13,  -13,  -18,   -6,
         30,  -30,   -7,  -17,  -63,  -60,  -29,  -38,   24,  -11,   51,
         80,   32,   17,   18,   50,   60,  -50,  -12,  -32,  -80,  -23,
         23,  -16, -220,   65,  220,   36,   45,  167,  -36,  -65,  -25,
         40,  -40,   75,  -45, -167,  150,  120,  132,   34,  153,  -77,
        -76,   -9,   55,  -55,   90, -120,  -14,  -26, -141,  -70,  -71,
       -132,  141,   70,   71,   86,   56,   27,  -86,   33,   44,   19,
         21,  -21,  -31,   22,   49,   63, -125,  125,  -90,   28,   31,
         61,  200,   85,  100, -100,   46,  -22,  -61,   76,   77,  180,
         48,  160,   68, -200,   26])

In [43]:
df25['Company Name'].unique()

array([nan, 'Uniting Care', 'Mount Cotton Physical Culture'], dtype=object)

In [44]:
df25['Tax On Fees'].unique()

array([0.])

In [45]:
df25['Deferred Rev'].unique()

array([  29.58,    0.  ,  -29.58, ..., -384.  ,  267.93,   63.79],
      shape=(9390,))

In [46]:
df25['Other Deferred Rev'].unique()

array([0.])

In [47]:
df25['Gift Card Def Rev'].unique()

array([ 0.0000e+00, -4.6000e+01,  3.4500e+01, -3.5000e+01, -2.2500e+01,
       -2.5000e+01, -2.8500e+01, -6.0000e+01, -6.7000e+01, -3.0000e+01,
       -4.0000e+01,  4.0000e+01, -5.8000e+01, -5.7000e+01, -4.3000e+01,
       -1.8000e+01,  6.7000e+01, -1.0000e+02, -3.3500e+01, -4.5000e+01,
       -1.0500e+01,  3.0000e+01, -5.0000e+01,  2.0000e+01,  2.8000e+01,
        1.0000e+02, -8.7000e+01, -2.7500e+01, -2.0000e+01,  2.5000e+01,
       -2.6500e+01, -2.7000e+01, -8.0000e+00, -7.7000e+01, -3.9500e+01,
       -9.3500e+01,  8.0000e+01,  6.0000e+01, -1.0050e+02,  1.5000e+02,
       -3.5000e+00, -2.8000e+01, -7.5000e+00,  4.5000e+01,  1.4000e+01,
       -9.5000e+01, -7.1000e+01, -2.3500e+01, -3.2500e+01, -4.0000e+00,
       -3.0000e+00, -4.8000e+01, -8.4500e+01, -3.6000e+01, -2.4000e+01,
       -3.7000e+01, -1.3000e+01,  5.6000e+01,  3.6000e+01,  1.5000e+01,
        8.7000e+01, -5.2195e+02,  4.7000e+01, -8.5000e+00,  9.5500e+01,
       -7.3000e+01, -1.5000e+02, -9.0000e+01, -1.3050e+02,  7.6000e+01,
       -7.5000e+01,  6.4800e+02, -6.4800e+02,  1.0500e+01,  2.1500e+01,
       -2.1500e+01, -5.0500e+01, -1.5000e+01, -7.0000e+00, -3.8000e+01,
       -6.0000e+00,  1.2000e+02, -1.1850e+02, -2.4500e+01,  5.0000e+01,
        3.8000e+01,  1.0050e+02,  4.3000e+01,  2.5000e+02, -4.7000e+01,
       -2.6000e+01,  6.4500e+01, -6.4500e+01,  9.6000e+01, -2.2000e+01,
        3.3500e+01,  1.8000e+01, -9.4000e+01,  3.5000e+00,  5.5800e+02,
       -5.5800e+02,  1.0300e+02, -1.3000e+02, -6.9460e+01,  1.3000e+01,
       -3.3000e+01, -1.6500e+01,  1.1400e+02, -1.1400e+02,  2.8500e+01,
       -7.2000e+01, -2.1750e+02, -2.1000e+01, -3.1500e+00, -2.3000e+01,
       -4.6500e+01,  7.0000e+00, -1.5000e+00, -4.3500e+01, -1.4000e+01,
        5.7000e+01,  1.5429e+02, -5.3500e+01, -1.8500e+01,  3.6500e+01,
        2.1000e+01, -9.8500e+01, -8.0000e+01,  3.1500e+01, -5.4000e+01,
       -5.2600e+01, -4.9500e+01, -4.1000e+01,  3.0500e+01,  5.8000e+01,
        1.7000e+01,  2.4000e+01, -1.6000e+01, -1.0650e+02, -1.3500e+01,
        1.0000e+01, -3.1500e+01,  3.3000e+01, -1.2000e+01,  7.0000e+01,
       -6.3500e+01,  3.8500e+01, -7.0000e+01, -5.6000e+01,  1.1000e+02,
       -1.6200e+02, -1.5500e+01,  5.1500e+01,  1.3100e+02,  5.5000e+01,
        2.7000e+01,  1.0650e+02,  7.1000e+01,  6.1400e+01,  4.6000e+01,
       -1.4000e+02, -5.3000e+01, -9.0000e+00, -8.3500e+01, -8.5500e+01,
       -3.2000e+01,  1.6000e+02, -9.5000e+00, -3.1000e+01,  5.0000e+00,
        1.2000e+01,  2.0500e+01,  5.7500e+01,  7.2500e+01,  4.8000e+01,
       -1.1000e+01, -7.2500e+01,  1.6000e+01,  4.3500e+01,  2.3500e+01,
       -2.9000e+01,  4.5400e+01, -3.4000e+02, -9.6000e+01,  2.2200e+02,
        8.1000e+01,  4.1000e+01,  2.0000e+02,  2.0600e+02,  1.3050e+02,
        9.4000e+01,  8.0000e+00,  7.8000e+01, -1.7600e+02,  5.4500e+01,
       -2.0500e+01, -1.7000e+01, -4.5000e+00,  5.4000e+01, -8.1000e+01,
       -1.0500e+02, -2.0600e+02, -4.5400e+01,  7.5000e+01,  6.4000e+01,
       -6.4000e+01, -6.3000e+01, -2.1050e+01, -8.4000e+01, -2.0000e+02,
       -2.5500e+01, -1.5950e+01, -5.0000e-01, -1.6580e+01, -1.3200e+01,
        8.8000e+01, -4.1500e+01, -1.2000e+02, -1.2970e+02,  6.3000e+01,
        9.0000e+01, -4.4000e+00, -6.5000e+01, -1.0000e+01, -1.2820e+01,
        1.7950e+02,  7.3550e+01, -2.0000e+00,  2.0100e+02,  4.1500e+01,
        1.8450e+02, -4.9000e+01, -1.7950e+02, -4.2000e+01,  2.3800e+02,
       -7.9500e+01, -1.3800e+02, -5.0000e+00,  5.3500e+01, -3.4500e+01,
       -2.5000e+00, -2.3970e+01,  1.8360e+01, -1.8360e+01, -1.7400e+02,
        1.1200e+02, -6.8500e+01, -7.9350e+01,  8.2500e+01, -1.1250e+02,
        2.3450e+02, -2.3450e+02,  9.9000e+01, -3.8250e+01,  9.2000e+01,
        6.9000e+01,  7.2000e+01, -8.2500e+01,  3.4000e+01,  7.9000e+01,
       -1.1500e+01, -4.0500e+01, -5.5000e+01,  6.6000e+01,  2.0000e+00,
       -8.8500e+01, -7.9000e+01, -9.4500e+01, -8.2000e+01,  5.2000e+01,
       -2.0100e+02, -6.1000e+01,  3.2000e+01, -3.6500e+01,  2.7500e+01,
        3.1650e+01,  2.6000e+01, -5.1000e+01, -6.8200e+01,  2.1430e+01,
        3.0120e+01,  1.2500e+02,  3.2100e+02,  1.8500e+01, -6.6000e+01,
        7.1510e+01, -1.1510e+01, -9.1000e+01,  3.8400e+01, -5.1500e+01,
       -3.6430e+02, -1.4700e+02,  8.2750e+01, -8.2750e+01,  4.0750e+01,
       -1.5960e+01, -2.7990e+01,  2.0200e+02, -3.5500e+01,  5.2090e+01,
       -5.2090e+01,  2.8580e+01, -7.6000e+01,  4.5500e+01,  1.2600e+02,
        8.2660e+01,  2.1000e+02, -2.0200e+02, -6.9000e+01, -1.2300e+02,
        3.3690e+01, -2.0950e+02,  9.1000e+01,  2.7000e+02,  3.5500e+01,
        2.2328e+02, -2.5600e+01,  2.3470e+01, -1.1000e+02, -1.3870e+02,
        2.2000e+01, -1.4200e+02, -4.4000e+01, -1.2200e+02,  1.7750e+02,
        2.5550e+01,  2.0440e+01,  4.9000e+01,  6.2310e+01,  4.5990e+01,
        1.9250e+02,  3.5000e+01, -1.5980e+01,  1.2300e+02, -1.1200e+02,
       -9.9500e+01,  9.8000e+01,  6.1000e+01])

In [48]:
df25['Acc Receivable'].unique()

array([  0.  ,   2.21,   0.73, ...,  13.13,  14.59, -14.59], shape=(3310,))

In [49]:
df25['Gross Revenue'].unique()

array([  0.  ,  30.  ,   2.45, ...,  27.37,  10.56, 384.  ], shape=(1501,))

In [50]:
df25['Discounts Recognised'].unique()

array([ 0.0000e+00,  1.0500e+00,  1.3500e+00,  1.2000e+00,  1.7300e+00,
        4.6000e+01,  3.4500e+01,  4.2000e+00,  2.1900e+00,  3.0000e+01,
        6.0000e+01,  4.9000e-01,  6.0000e-01,  7.0000e-01,  5.0000e-01,
        1.0000e+00,  1.6500e+00,  2.2500e+00,  2.5500e+00,  1.1000e+00,
        2.8000e+01,  1.4000e+00,  9.0000e+01,  9.0000e-01,  1.4000e+01,
        1.0000e+01,  7.7000e-01,  1.5000e+01,  3.6000e+00,  7.5000e-01,
        2.5800e+00,  2.5900e+00,  2.7000e+00,  4.0000e+01,  1.2500e+00,
        1.8000e+00,  8.6000e-01,  1.5000e+00, -1.4000e+00,  8.0000e-01,
        6.9000e-01,  3.9000e+00,  3.9200e+00,  8.4000e+00,  1.5680e+01,
        5.6000e+01,  1.8000e+01,  2.0000e+01,  2.1000e+00, -1.5000e+01,
        1.3700e+00,  3.9000e-01,  7.5000e+00,  2.1100e+00,  6.0000e+00,
        5.6000e+00,  3.0000e+00, -6.0000e+00,  9.4000e-01,  8.0000e+00,
        2.2800e+00,  2.0000e+00, -3.0000e+01,  5.4000e+00,  1.0000e+02,
        1.2200e+00,  1.4600e+00,  9.5000e-01,  1.1200e+00,  9.9000e-01,
        1.1800e+00,  1.3000e+00,  6.6000e-01,  1.1100e+00,  2.4000e+01,
        3.8000e+00,  1.1900e+00,  3.0000e-01,  1.4700e+00,  4.8000e+00,
        8.3000e-01,  8.5000e-01,  4.0000e+00,  3.2800e+00,  1.3300e+00,
        4.5000e-01,  1.5000e-01,  4.5000e+00,  1.1600e+00,  3.7500e+00,
        3.2000e+01,  7.4000e-01,  1.7200e+00,  4.0000e-01,  8.7000e-01,
        1.7900e+00,  1.6800e+00,  4.1000e-01,  5.9000e-01,  8.4000e-01,
        2.6900e+00,  2.4700e+00,  3.2900e+00,  2.4000e+00,  1.2700e+00,
       -1.5000e+00,  2.1600e+00,  3.2000e+00,  3.5000e-01,  7.2000e+00,
        1.0800e+01, -8.0000e+00,  1.2000e+01,  1.0900e+00, -2.4000e+01,
        2.7000e+01,  5.1000e+00,  1.9000e+00,  1.1000e-01,  1.7000e+01,
       -1.7000e+01,  1.8200e+00,  1.8100e+01,  1.5822e+02,  4.8680e+01,
        2.3900e+00,  1.3900e+00,  8.0000e+01,  6.5000e+00,  2.1800e+00,
        1.0000e-01,  1.6000e+01,  7.0000e+00,  3.5000e+00,  3.3000e+00,
       -4.0000e+00,  2.8000e+00, -6.0000e+01,  5.7000e-01,  6.4000e-01,
        2.1500e+00,  4.0500e+00,  1.2600e+00,  1.6000e+00,  2.0000e-01,
        3.1500e+00, -1.2000e+01,  1.0600e+00,  1.1700e+00,  1.4100e+00,
        9.0000e+00,  5.0000e+00,  6.3000e-01,  2.4000e+02,  1.5700e+00,
        1.1500e+00,  3.7200e+00,  8.1000e+01,  9.1000e-01, -1.0500e+00,
        3.7600e+00,  7.2000e-01,  3.0100e+00,  9.6000e+00, -9.6000e+00,
        1.4400e+01,  7.6000e-01,  2.4900e+00,  1.0400e+00,  6.5000e-01,
        3.3500e+00, -5.0000e+00,  5.4800e+00,  1.6400e+00,  9.8000e-01,
       -2.7000e+01,  6.1000e-01,  1.1000e+01, -2.0000e+01,  1.1300e+00,
        1.0300e+00,  4.3300e+00,  4.8000e+01,  1.0200e+00,  4.2000e-01,
        2.1700e+00,  1.8000e-01,  1.7400e+00,  6.8000e+00, -6.8000e+00,
        1.7000e+00,  1.9300e+00,  3.8900e+00,  8.8000e-01,  1.9500e+00,
        1.0200e+02,  1.5900e+00,  2.0400e+00,  1.2300e+00,  1.7800e+00,
        1.8000e+02, -1.6000e+01,  1.9200e+00,  4.3800e+00,  4.7000e-01,
        3.0000e-02,  4.1400e+00,  3.1600e+00,  4.8400e+00,  5.3000e-01,
        7.8000e-01,  1.5800e+00,  1.8700e+00,  5.1000e+01,  1.9400e+00,
        7.3000e-01,  5.1000e-01,  1.9800e+00,  2.7200e+00,  1.4000e-01,
        1.0800e+00,  1.2400e+00,  2.3400e+00,  5.6000e-01,  6.2000e-01,
        2.8100e+00,  2.4400e+00,  4.6000e-01,  2.1930e+01,  3.8000e-01,
        1.3600e+00,  1.0500e+01,  2.7700e+00,  1.7250e+01,  2.3000e+00,
        2.3000e+01,  1.1500e+01,  2.1000e+01, -3.4500e+01,  6.9000e+01,
        2.8000e-01, -2.2500e+00, -2.8000e+01,  1.4200e+00,  2.2300e+00,
        2.0100e+00,  3.8600e+00,  2.4500e+00, -1.2500e+00,  1.2900e+00,
        1.9900e+00,  1.8900e+00,  1.5300e+00, -4.8000e+00,  1.7500e+00,
        2.1400e+00,  1.5400e+00, -7.2000e+00,  2.0700e+00,  1.5100e+00,
        1.6200e+00,  2.0900e+00,  2.8700e+00,  9.2000e-01, -4.0000e+01,
        4.3520e+01,  6.4300e+00,  8.4000e+01,  2.4200e+00,  2.5000e+02,
        2.0300e+00,  1.4300e+00,  9.7000e-01,  2.3700e+00,  3.8400e+00,
        5.5000e-01,  2.6500e+00,  1.6230e+01,  2.4800e+00,  8.1000e+00,
        1.4800e+00,  2.9700e+00, -3.2000e+01,  2.3500e+00,  2.5000e+00,
        1.8960e+01,  6.7000e+00,  2.6000e+00,  4.9900e+00,  7.8310e+01,
        1.3500e+02,  4.2600e+00,  2.1600e+01,  1.8800e+00, -2.7000e+00,
        2.2900e+00,  3.4000e+00,  2.2000e+01,  2.2000e+00, -7.5000e-01,
        2.2200e+00,  1.8300e+00,  4.4800e+00,  2.8500e+00, -1.3500e+00,
        4.4000e-01,  8.0000e-02, -1.6000e+00,  7.0000e-02,  1.9000e-01,
        1.2800e+00,  4.0800e+00, -1.7900e+00,  2.9000e-01,  7.1000e-01,
       -6.4000e+01,  1.8500e+00, -3.2000e+00,  5.2500e+00,  6.2500e+00,
        1.3750e+01,  1.3200e+00,  3.0000e+02,  1.7600e+00,  2.1000e-01,
        1.4400e+00,  1.5500e+00,  6.4000e+01,  3.5900e+00,  5.5000e+00,
        2.3100e+00,  3.3300e+00,  1.3100e+00, -9.6000e+01,  2.6400e+00])

In [52]:
df25['Tax Payable'].unique()

array([ 0.0000e+00,  2.7300e+00,  2.2000e-01,  2.9000e-01,  2.5000e-01,
        4.1800e+00,  2.9100e+00,  2.0900e+00,  3.2000e-01,  3.1400e+00,
        9.1000e-01,  2.9800e+00,  1.5700e+00,  1.5900e+00,  9.4100e+00,
        9.5000e-01,  1.9100e+00,  1.5680e+01,  1.2700e+00,  1.6400e+00,
        6.2700e+00, -2.9100e+00,  1.2550e+01, -1.2550e+01,  8.3600e+00,
       -6.2700e+00,  6.4000e-01,  5.5000e-01,  4.3600e+00,  3.9000e-01,
       -3.1400e+00,  1.6730e+01, -4.1800e+00,  3.2700e+00,  6.8000e-01,
        8.2000e-01,  5.0000e-01,  3.6000e-01,  2.3000e-01,  4.1000e-01,
        3.8200e+00,  1.2200e+00,  6.6000e-01,  6.0000e-01,  2.3500e+00,
        7.8000e-01,  7.7000e-01,  1.8200e+00,  5.9000e-01, -1.5700e+00,
        2.2300e+00, -1.2700e+00,  4.5000e-01, -4.5000e-01,  3.7000e-01,
        1.0300e+00,  5.8200e+00,  3.2730e+01,  2.4000e+00,  2.7000e-01,
       -5.8200e+00,  8.0000e-01,  1.2300e+00,  5.3000e-01,  1.3600e+00,
        7.2100e+00,  7.3000e-01,  9.0000e-02,  4.0000e-01,  1.4500e+00,
        1.0900e+00,  1.8000e-01,  8.6000e-01,  1.1200e+00,  4.6000e-01,
        1.0400e+00,  3.4000e-01,  2.1400e+00,  3.5000e-01,  1.5300e+00,
        8.9000e-01,  6.2000e-01,  4.8100e+00,  1.1800e+00,  3.8000e-01,
        1.3000e-01,  9.6200e+00,  7.1000e-01,  5.1000e-01,  4.5500e+00,
        8.4000e-01,  1.1000e-01,  6.5500e+00,  6.5000e-01,  1.8100e+00,
        5.4000e-01,  8.1000e-01,  1.0500e+00,  2.0300e+00,  7.6000e-01,
        3.6400e+00,  2.1800e+00,  2.5500e+00,  2.2700e+00,  5.4500e+00,
       -2.7300e+00,  5.0900e+00, -1.6400e+00,  3.3000e-01,  7.2700e+00,
        2.0000e-01, -1.3600e+00, -3.2000e-01, -2.2700e+00,  2.1000e-01,
        7.6400e+00,  1.0000e+00,  3.0000e-01, -2.5500e+00,  5.0000e-02,
        3.1800e+00,  1.0180e+01,  9.7000e-01,  4.9100e+00,  6.7000e-01,
        1.7000e-01,  3.1000e-01,  1.3400e+00,  8.5000e-01,  1.3200e+00,
        2.9090e+01,  4.8000e-01, -3.6400e+00, -1.8200e+00,  1.7000e+00,
        6.3000e-01,  2.1820e+01, -2.0900e+00,  4.3000e-01,  7.5000e-01,
        8.3000e-01,  7.2000e-01,  9.2000e-01,  1.4000e-01,  9.0900e+00,
        8.7000e-01,  9.0000e-01,  1.0200e+00,  1.9500e+00,  1.4400e+00,
        1.1300e+00,  1.9900e+00,  1.0600e+00,  1.8600e+00,  1.0910e+01,
        1.9000e-01,  7.4000e-01,  9.9000e-01,  1.6000e+00,  2.0000e+00,
        1.4550e+01,  5.6000e-01,  1.8180e+01,  1.3640e+01,  1.2600e+00,
        8.1800e+00,  2.0500e+00,  9.8000e-01,  1.2900e+00, -7.3000e-01,
        9.6000e-01,  5.4550e+01,  9.3000e-01,  2.4000e-01,  2.5000e+00,
        1.7820e+01,  1.5400e+00,  1.4700e+00,  1.5000e+00,  3.3900e+00,
        9.4000e-01,  8.8000e-01,  1.0100e+00,  5.2000e-01,  2.8000e-01,
        4.0000e-02,  1.2730e+01,  1.5100e+00,  3.5800e+00, -1.0910e+01,
        6.0000e-02,  6.9000e-01,  7.0000e-01,  4.7000e-01,  1.1400e+00,
        5.9100e+00,  1.7730e+01,  2.3640e+01,  1.7700e+00,  6.8200e+00,
        1.4200e+00,  1.2800e+00,  2.4500e+00, -7.2700e+00,  5.7000e-01,
        5.8000e-01,  1.3100e+00,  1.1820e+01,  7.7300e+00,  1.1100e+00,
        1.6000e-01,  1.0800e+00,  2.0400e+00, -5.4500e+00,  3.4600e+00,
        1.7300e+00,  1.5270e+01,  1.8300e+00,  1.5500e+00,  4.0900e+00,
        1.5800e+00, -6.4000e-01,  5.0910e+01,  4.0910e+01,  2.4200e+00,
       -2.4200e+00,  2.5900e+00,  2.3600e+00,  2.6000e-01,  4.9000e-01,
        2.8200e+00,  4.5450e+01,  1.5910e+01,  1.5000e-01,  8.0000e-02,
       -3.5000e-01, -4.0900e+00,  1.7900e+00,  4.7270e+01, -7.0910e+01,
        3.8600e+00,  4.4000e-01,  5.4400e+00, -3.9900e+00, -5.6000e-01,
        1.1500e+00,  1.1600e+00,  7.0000e-02,  6.3600e+00,  1.1000e+00,
        2.0000e-02,  1.0000e-02,  1.0000e-01, -9.1000e-01,  4.2000e-01,
        5.0000e+00, -5.0000e+00,  1.0450e+01,  2.8100e+00,  2.2500e+00,
       -5.0900e+00, -3.2700e+00,  3.5000e+00,  1.4100e+00,  1.2500e+00,
        2.3400e+00,  3.0000e+01,  2.0450e+01,  2.2730e+01,  3.5640e+01,
        1.5600e+00,  7.9000e-01,  9.8200e+00,  2.7200e+00,  1.2100e+00,
       -4.5500e+00, -6.8200e+00, -9.0900e+00, -1.1360e+01, -1.5910e+01,
        1.3700e+00, -1.3640e+01, -2.1800e+00, -2.4500e+00, -3.0000e+00,
       -1.9100e+00,  1.3500e+00,  2.4000e+01,  5.8600e+00,  1.6500e+00,
        1.6800e+00,  3.2500e+00,  1.6360e+01,  1.2000e-01,  3.3500e+00,
       -6.0000e+01,  2.1500e+00,  1.2000e+00,  2.1700e+00,  4.9090e+01,
        1.2270e+01,  2.9550e+01,  1.5000e+01, -1.4500e+00,  2.3200e+00,
       -8.1000e-01,  2.7270e+01,  2.7000e+00,  2.6400e+00,  1.7400e+00,
        1.0000e+01,  2.2910e+01,  5.0000e+01,  3.6360e+01, -9.5000e-01,
       -8.2000e-01,  2.5600e+00,  2.6200e+00,  1.7800e+00,  1.9300e+00,
        1.4800e+00,  2.3300e+00,  1.3900e+00,  3.0000e-02,  1.9700e+00,
        3.4500e+00,  2.7800e+00,  2.2100e+00,  1.9200e+00, -2.2730e+01,
        9.8180e+01,  3.0550e+01,  1.3000e+00,  2.2090e+01,  6.1000e-01,
        1.6900e+00,  1.8500e+00,  1.0500e+02,  1.6700e+00,  1.7450e+01,
        2.1900e+00,  1.1360e+01,  2.2200e+00,  2.0600e+00,  1.6200e+00,
        2.8600e+00,  6.0000e+00, -4.5450e+01,  2.4820e+01,  3.4090e+01,
        9.6820e+01,  1.9360e+01,  8.7300e+00,  2.4400e+00,  2.4900e+00,
        2.2800e+00,  1.1700e+00,  1.5200e+00,  1.6600e+00,  1.8700e+00,
        1.1450e+01,  4.7300e+00, -5.9100e+00,  1.9090e+01,  4.0000e+01,
        1.1900e+00,  2.6100e+00,  3.4400e+00, -4.3600e+00,  5.9090e+01,
        9.5500e+00,  1.4000e+00,  1.3300e+00,  1.7600e+00, -5.5000e-01,
        1.6300e+00,  2.2000e+00,  1.4600e+00,  2.9200e+00,  1.2000e+01,
       -2.0400e+00,  4.0400e+00,  6.3640e+01,  5.7820e+01,  1.3090e+01,
        3.0000e+00, -1.5900e+00,  2.1600e+00,  1.1180e+01,  3.1820e+01,
        1.5000e+02,  1.0360e+01,  1.0364e+02,  3.6820e+01,  2.5450e+01,
       -1.5600e+00,  1.8270e+01,  1.3800e+00,  1.2400e+00,  1.7500e+00,
        1.7200e+00,  5.5300e+00, -5.5300e+00,  4.4240e+01, -3.6000e-01,
       -2.5900e+00,  2.5100e+00,  3.9300e+00, -2.6100e+00, -5.2300e+00,
        5.2300e+00,  4.7000e+00,  2.0910e+01,  1.0700e+00, -3.8200e+00,
        4.6400e+00, -7.3600e+00,  7.3600e+00,  6.1800e+00,  9.2700e+00,
        3.0900e+00,  1.2360e+01, -1.5500e+00,  3.6800e+00,  3.7600e+00,
        3.2890e+01,  1.0120e+01, -5.0000e-01,  5.5000e+01,  5.3200e+00,
        2.6180e+01,  1.7100e+00,  1.9200e+01,  5.4300e+00,  1.4730e+01,
        2.0800e+00, -4.9100e+00,  2.1300e+00,  2.0200e+00,  4.8400e+00,
        1.9000e+00,  3.9000e+00,  2.5000e+01, -1.0900e+00,  2.5200e+00,
        1.4900e+00, -3.1800e+00, -1.4550e+01,  4.3640e+01, -1.6000e-01,
       -2.0000e-02,  4.5900e+00,  4.7900e+00, -4.7900e+00, -2.0000e+01,
        2.3800e+00,  9.1700e+00,  8.1500e+00,  5.1900e+00,  3.3560e+01,
       -4.1000e-01,  3.5300e+00,  5.8180e+01,  2.0000e+01,  3.6600e+00,
       -2.2000e-01,  1.9640e+01,  7.0910e+01,  8.6400e+00, -1.8180e+01,
        2.0360e+01,  3.0910e+01,  1.4300e+00,  4.5000e+01, -1.0360e+01,
       -3.0000e-01, -7.9000e-01,  3.1700e+00, -5.0000e+01, -1.6360e+01,
        2.9700e+00, -4.7270e+01, -8.1800e+00,  3.9800e+00,  4.1400e+00,
        3.6200e+00, -4.0000e+01, -3.5000e+00, -3.0000e+01,  5.8900e+00,
        2.9500e+00, -5.0910e+01,  2.6300e+00,  8.0000e+00,  2.7100e+00,
        1.9800e+00, -3.6360e+01,  1.9600e+00,  4.7100e+00,  3.1200e+00,
        3.8180e+01,  1.6090e+01, -3.0900e+00, -6.1800e+00,  2.4700e+00,
       -2.4700e+00,  2.3700e+00,  6.0000e+01,  5.4100e+00, -2.3000e-01,
       -6.8000e-01,  3.2400e+00,  3.5900e+00,  1.0770e+01, -1.2100e+00,
       -9.2700e+00,  2.6700e+00,  4.5550e+01,  2.6018e+02,  7.0600e+00,
        5.8910e+01,  3.5000e+01,  2.4100e+00,  2.2600e+00,  8.5900e+00,
        4.5000e+00,  3.6100e+00,  1.5450e+01, -4.6400e+00,  3.3300e+00,
        2.1100e+00, -8.8000e-01, -1.2000e-01, -2.8000e-01, -1.8000e-01,
        2.4600e+00,  3.4360e+01, -5.0000e-02, -2.7000e-01,  7.9550e+01,
        9.0910e+01,  1.6100e+00,  2.2900e+00,  1.4640e+01,  5.8100e+00,
        3.1600e+00,  5.9200e+00, -2.1820e+01,  1.1727e+02,  2.8900e+00,
        4.7700e+00,  1.0909e+02,  1.6190e+01,  8.8640e+01,  1.5909e+02,
        8.7270e+01,  3.1300e+00,  2.7600e+00,  3.5450e+01,  3.4300e+00,
        6.1400e+00,  2.7700e+00, -1.1200e+00, -7.9700e+00,  3.7300e+00,
        7.4500e+00,  3.9700e+00,  5.5900e+00,  2.9900e+00,  1.8800e+00,
        9.3200e+00, -1.0180e+01, -2.5100e+00, -1.8600e+00,  1.1640e+01,
        2.4300e+00,  3.9270e+01,  2.9270e+01, -9.4100e+00, -7.8000e-01,
        2.8640e+01,  2.4550e+01, -1.3500e+00, -2.7100e+00,  6.5450e+01,
        4.8000e+01, -4.8000e-01,  4.0000e+00,  1.9400e+00, -1.1900e+00,
       -7.1300e+00, -2.3800e+00,  4.7500e+00, -2.1600e+00, -5.1800e+00,
       -6.5000e-01, -2.1000e-01,  2.5090e+01, -7.0000e-01, -8.3600e+00,
        7.8400e+00,  3.0200e+00, -2.5770e+01, -1.5000e+00,  4.4900e+00,
       -3.2730e+01, -1.5300e+00,  1.0260e+01,  1.0820e+01,  4.4500e+00,
        1.3910e+01,  1.1300e+01, -6.5500e+00, -1.9090e+01, -1.2730e+01,
        3.9100e+00,  3.0700e+00,  9.4400e+00, -1.9640e+01,  3.4200e+00,
       -3.9600e+00, -5.8000e-01,  3.4000e+00,  3.5500e+00,  1.3745e+02,
        1.7180e+01, -2.2300e+00,  2.2400e+00,  2.9000e+00, -7.6400e+00,
       -1.4800e+00, -1.1000e-01, -2.0000e+00,  7.0900e+00,  3.2300e+00,
        5.2700e+00,  3.3600e+00,  1.5820e+01,  3.6700e+00,  2.1090e+01,
        1.4660e+01,  5.6700e+00,  2.4800e+00, -4.0000e+00, -8.0000e-02,
       -7.1200e+00,  1.0550e+01,  6.5900e+00, -5.7000e-01, -9.8200e+00,
       -2.5000e-01, -7.4000e-01,  2.6900e+00,  2.8800e+00,  2.3180e+01,
        7.9100e+00, -1.1640e+01,  1.8000e+00, -1.3000e+00, -8.7300e+00,
       -5.5900e+00, -6.1000e-01, -1.3100e+00, -2.3300e+00,  7.9500e+00,
        2.6500e+00,  2.8360e+01,  5.6400e+00,  3.3000e+00,  3.1640e+01,
        8.4500e+00,  4.2000e+01,  1.7727e+02, -5.2700e+00, -2.7600e+00,
        4.1200e+00,  1.8400e+00,  2.6360e+01,  6.7300e+00,  1.4000e+01,
       -6.7300e+00,  6.1090e+01,  7.6360e+01,  5.7300e+00,  3.6000e+01,
        2.8400e+00, -3.3600e+00, -2.3270e+01,  3.6300e+00,  2.6730e+01,
        2.7500e+00,  1.0090e+01,  2.5700e+00, -6.0000e+00,  2.7900e+00,
        1.8900e+00, -1.0000e+00,  2.9400e+00,  3.1900e+00,  2.5800e+00,
        2.0100e+00, -2.0360e+01,  3.4910e+01])

In [53]:
df25['Net Revenue'].unique()

array([   0.  ,   27.27,    2.23, ..., -203.64,   24.88,  349.09],
      shape=(1480,))

In [54]:
df25['Unit Cost'].unique()

array([2.400e+02, 4.000e+01, 1.725e+01, 3.450e+01, 3.500e+00, 3.000e+01,
       2.300e+01, 1.000e+01, 3.200e+01, 4.600e+01, 0.000e+00, 2.500e+01,
       5.000e+00, 4.500e+00, 4.000e+00, 6.000e+00, 9.000e+00, 6.500e+01,
       1.800e+01, 3.600e+02, 2.100e+01, 2.000e+01, 5.000e+01, 2.000e+00,
       8.000e+00, 4.270e+00, 3.000e+00, 7.500e+00, 5.500e+00, 2.500e+00,
       8.540e+00, 1.295e+01, 6.580e+00, 7.210e+00, 1.337e+01, 3.570e+00,
       8.470e+00, 3.990e+00, 3.500e+01, 6.000e+01, 4.060e+00, 1.134e+01,
       1.000e+00, 1.500e+01, 2.645e+01, 8.820e+00, 5.880e+00, 4.410e+00,
       2.730e+00, 9.500e+00, 6.090e+00, 5.800e+00, 1.232e+01, 5.040e+00,
       8.750e+00, 1.141e+01, 3.710e+00, 2.352e+01, 3.800e+00, 9.800e+00,
       9.450e+00, 7.280e+00, 6.800e+00, 4.100e+00, 6.500e+00, 4.200e+00,
       1.400e+00, 7.300e+00, 7.800e+00, 1.095e+01, 5.600e+00, 4.990e+00,
       9.240e+00, 1.260e+00, 7.200e+00, 1.995e+01, 5.900e+00, 8.950e+00,
       5.950e+00, 1.197e+01, 2.800e+01, 2.233e+01, 8.330e+00, 2.400e+01,
       1.600e+02, 2.700e+02, 1.500e+02, 3.600e+00, 2.950e+00, 7.000e+00,
       2.250e+00, 2.350e+00, 1.105e+01, 3.300e+00, 1.000e+02, 1.100e+01,
       5.000e-01, 7.990e+00, 4.000e+02, 8.890e+00, 7.770e+00, 1.064e+01,
       7.400e+00, 1.900e+00, 3.400e+00, 1.230e+01, 1.200e+01, 1.470e+01,
       1.470e+00, 9.350e+00, 2.990e+00, 1.450e+01, 5.250e+00, 4.900e+00,
       3.200e+00, 1.875e+01, 6.950e+00, 4.700e+00, 3.150e+00, 5.990e+00,
       8.200e+00, 9.100e+00, 7.950e+00, 1.500e+00, 1.015e+01, 8.050e+00,
       9.600e+00, 9.950e+00, 1.120e+01, 8.800e+00, 2.150e+01, 1.580e+01,
       1.240e+01, 6.450e+00, 1.170e+01, 2.050e+01, 4.130e+00, 7.200e+01,
       4.200e+01, 2.140e+00, 2.450e+00, 1.700e+01, 8.190e+00, 7.350e+00,
       1.085e+01, 1.764e+01, 1.300e+01, 6.990e+00, 1.498e+01, 6.160e+00,
       1.358e+01, 1.386e+01, 7.910e+00, 4.480e+00, 1.078e+01, 2.940e+00,
       1.421e+01, 1.200e+02, 7.850e+00, 1.060e+01, 1.155e+01, 7.900e+00,
       9.030e+00, 4.450e+00, 1.022e+01, 5.100e+00, 2.600e+00, 2.745e+01,
       7.050e+00, 3.950e+00, 4.950e+00, 1.695e+01, 1.950e+00, 3.731e+01,
       1.652e+01, 1.617e+01, 4.550e+00, 1.988e+01, 1.029e+01, 6.790e+00,
       9.730e+00, 9.020e+00, 3.960e+00, 1.106e+01, 2.044e+01, 9.700e+00,
       8.900e+00, 1.050e+01, 8.250e+00, 1.477e+01, 5.670e+00, 6.930e+00,
       9.300e+00, 1.150e+01, 9.940e+00, 3.920e+00, 2.380e+00, 1.540e+00,
       1.659e+01, 3.940e+01, 8.550e+00, 4.350e+00, 7.000e-01, 7.630e+00,
       7.750e+00, 3.700e+00, 1.340e+01, 2.800e+00, 5.200e+00, 1.250e+01,
       2.100e+00, 8.500e+00, 5.180e+00, 7.700e+00, 3.000e+02, 1.945e+01,
       8.500e+01, 5.300e+00, 6.860e+00, 1.561e+01, 2.650e+00, 1.407e+01,
       8.120e+00, 1.036e+01, 1.666e+01, 1.057e+01, 3.850e+00, 7.070e+00,
       7.980e+00, 1.104e+01, 3.350e+00, 1.730e+01, 2.695e+01, 2.790e+00,
       3.080e+00, 7.840e+00, 2.699e+01, 6.230e+00, 8.450e+00, 6.380e+00,
       6.100e+00, 4.750e+00, 1.225e+01, 1.400e+01, 9.050e+00, 8.600e+00,
       5.110e+00, 1.183e+01, 3.780e+00, 9.310e+00, 1.806e+01, 2.400e+00,
       7.200e+02, 6.000e+02, 1.960e+00, 2.500e+02, 2.009e+01, 1.705e+01,
       2.870e+00, 2.240e+00, 4.690e+00, 1.148e+01, 4.300e+00, 6.440e+00,
       1.008e+01, 6.300e+00, 6.370e+00, 7.560e+00, 2.900e+00, 5.390e+00,
       1.035e+01, 3.100e+01, 4.760e+00, 1.080e+01, 1.491e+01, 2.000e+02,
       5.050e+00, 1.600e+01, 3.240e+00, 2.300e+00, 4.800e+01, 2.660e+00,
       1.760e+01, 1.974e+01, 8.610e+00, 6.780e+00, 7.420e+00, 9.870e+00,
       4.245e+01, 1.169e+01, 4.830e+00, 3.430e+00, 1.260e+01, 1.274e+01,
       7.700e-01, 7.970e+00, 8.260e+00, 1.162e+01, 5.740e+00, 1.395e+01,
       5.750e+00, 1.211e+01, 3.640e+00, 1.245e+01, 4.600e+00, 8.100e+00,
       1.127e+01, 6.450e+01, 6.850e+00, 1.050e+00, 6.020e+00, 5.530e+00,
       3.087e+01, 2.474e+01, 4.970e+00, 3.220e+00, 1.300e+00, 1.550e+01,
       1.372e+01, 2.570e+01, 4.800e+02, 8.000e+01, 5.400e+00, 1.113e+01,
       9.380e+00, 7.140e+00, 3.360e+00, 3.650e+00, 1.715e+01, 2.170e+00,
       8.680e+00, 4.620e+00, 1.000e+03, 1.610e+00, 9.520e+00, 1.112e+01,
       1.128e+01, 2.989e+01, 1.071e+01, 1.330e+01, 1.267e+01, 1.505e+01,
       1.660e+01, 2.050e+00, 1.485e+01, 7.490e+00, 5.780e+00, 1.547e+01,
       7.550e+00, 6.250e+00, 1.190e+01, 5.460e+00, 1.813e+01, 1.557e+01,
       8.960e+00, 2.030e+00, 1.115e+01, 1.054e+01, 3.570e+01, 1.848e+01,
       7.500e+01, 1.680e+00, 1.330e+00, 3.689e+01, 3.900e+00, 1.320e+01,
       9.250e+00, 5.810e+00, 1.040e+01, 1.030e+01, 2.200e+00, 9.170e+00,
       2.520e+00, 1.239e+01, 2.750e+00, 1.010e+01, 1.555e+01, 6.350e+00,
       1.345e+01, 1.595e+01, 9.850e+00, 1.275e+01, 2.700e+01, 1.145e+01,
       4.400e+00, 9.200e+00, 2.968e+01, 2.595e+01, 2.905e+01, 1.918e+01,
       1.750e+00, 1.092e+01, 2.590e+00, 9.800e-01, 1.722e+01, 3.930e+00,
       4.340e+00, 5.320e+00, 9.660e+00, 3.010e+00, 2.814e+01, 2.877e+01,
       2.500e-01, 1.820e+00, 1.960e+01, 2.128e+01, 6.200e+00, 1.624e+01,
       4.500e+01, 1.110e+01, 3.290e+00, 1.820e+01, 6.650e+00, 2.565e+01,
       1.750e+01, 1.533e+01, 3.100e+00, 1.480e+01, 8.400e+00, 2.150e+00,
       2.310e+00, 4.800e+00, 1.065e+01, 6.600e+00, 1.160e+01, 3.935e+01,
       8.700e+00, 6.400e+00, 1.911e+01, 5.550e+00, 3.600e+01, 7.650e+00,
       1.560e+01, 1.055e+01, 4.050e+00, 2.165e+01, 6.900e+00, 1.800e+00,
       1.130e+01, 4.150e+00, 8.850e+00, 3.060e+01, 1.135e+01, 4.250e+00,
       1.720e+01, 1.915e+01, 2.100e+02, 9.150e+00, 5.450e+00, 8.400e-01,
       2.429e+01, 1.281e+01, 2.247e+01, 1.490e+01, 5.850e+00, 5.000e-02,
       1.265e+01, 2.114e+01, 6.300e-01, 3.724e+01, 1.218e+01, 1.665e+01,
       1.280e+01, 5.700e+00, 1.435e+01, 1.140e+01, 6.700e+00, 2.457e+01,
       1.860e+01, 2.030e+01, 6.510e+00, 9.590e+00, 1.099e+01, 1.405e+01,
       1.385e+01, 7.600e+00, 1.840e+01, 3.260e+00, 2.408e+01, 2.443e+01,
       2.268e+01, 1.288e+01, 1.780e+01, 9.750e+00, 2.230e+01, 1.205e+01,
       8.650e+00, 6.750e+00, 3.300e+02, 2.360e+01, 5.600e-01, 1.428e+01,
       2.680e+01, 1.390e+01, 2.700e+00, 1.370e+01, 1.315e+01, 1.350e+01,
       1.456e+01, 1.865e+01, 9.650e+00, 2.744e+01, 1.855e+01, 2.513e+01,
       1.120e+00, 1.900e-01, 1.285e+01, 1.673e+01, 5.000e+02, 1.827e+01,
       1.442e+01, 1.755e+01, 1.638e+01, 7.150e+00, 1.380e+01, 2.870e+01,
       1.708e+01, 3.780e+01, 1.890e+00, 1.540e+01, 1.463e+01, 1.939e+01,
       9.000e+01, 9.900e+00, 2.415e+01, 1.309e+01, 1.603e+01, 2.200e+01,
       6.050e+00, 8.000e-01, 3.215e+01, 1.670e+01, 1.140e+02, 8.150e+00,
       1.070e+01, 6.720e+00, 2.297e+01, 2.037e+01, 3.250e+00, 9.000e-01,
       1.940e+01, 1.020e+01, 4.200e-01, 3.750e+00, 2.205e+01, 1.005e+01,
       4.445e+01, 2.639e+01, 1.582e+01, 1.344e+01, 3.213e+01, 1.420e+01,
       3.300e+01, 8.300e+00, 1.378e+01, 9.230e+00, 1.204e+01, 1.550e+00,
       1.785e+01, 8.800e-01, 2.387e+01, 1.512e+01, 1.246e+01, 3.580e+00,
       1.520e+01, 1.365e+01, 8.230e+00, 1.950e+01, 1.600e+00, 1.930e+01,
       1.554e+01, 7.500e-01, 1.484e+01, 8.500e-01, 1.360e+01, 2.370e+01,
       1.890e+01, 1.075e+01, 6.150e+00, 1.000e-02, 7.100e+00, 1.526e+01,
       1.610e+01, 2.875e+01, 8.350e+00, 2.760e+01, 1.765e+01, 7.450e+00,
       9.400e+00, 5.650e+00, 1.596e+01, 1.025e+01, 1.729e+01, 1.180e+01,
       9.100e-01, 5.500e+01, 1.323e+01, 1.800e+02, 1.953e+01, 1.253e+01,
       1.302e+01, 1.630e+01, 2.170e+01, 1.778e+01, 3.304e+01, 1.043e+01,
       3.620e+00, 1.045e+01, 1.876e+01, 1.830e+01, 4.850e+00, 6.600e+02,
       2.340e+01, 3.340e+00, 1.351e+01, 1.000e-01, 7.000e+01, 2.219e+01,
       5.320e+01, 5.600e+01, 2.086e+01, 9.500e+01, 5.400e+02, 4.291e+01,
       1.519e+01, 4.320e+00, 1.850e+01, 1.187e+01, 1.290e+01, 3.790e+00,
       2.120e+00, 7.180e+00, 1.835e+01, 4.530e+00, 2.163e+01, 3.800e+01,
       2.770e+01, 1.210e+01, 9.280e+00, 1.415e+01, 1.379e+01, 1.316e+01,
       1.605e+01, 5.500e-01, 1.270e+01, 1.650e+00, 1.841e+01, 3.400e+01,
       2.093e+01, 2.667e+01, 1.869e+01, 1.310e+01, 3.050e+00, 3.550e+00,
       1.495e+01, 2.142e+01, 5.760e+00, 9.080e+00, 3.283e+01, 4.025e+01,
       1.190e+00, 3.450e+00, 1.736e+01, 1.862e+01, 1.449e+01, 1.255e+01,
       2.002e+01, 2.410e+01, 1.175e+01, 4.200e+02, 1.575e+01, 2.020e+00,
       2.401e+01, 3.486e+01, 1.163e+01, 2.395e+01, 8.510e+00, 3.269e+01,
       1.350e+00, 1.565e+01, 1.001e+01, 1.694e+01, 4.430e+00, 2.891e+01,
       2.175e+01, 3.598e+01, 1.195e+01, 1.743e+01, 3.900e+02, 2.156e+01,
       2.338e+01, 2.240e+01, 1.690e+01, 1.393e+01, 1.834e+01, 1.631e+01,
       3.437e+01, 1.325e+01, 6.000e-01, 8.800e+01, 9.550e+00, 1.897e+01,
       1.410e+01, 1.932e+01, 2.604e+01, 7.670e+00, 1.850e+00, 7.570e+00,
       1.645e+01, 3.560e+01, 1.510e+01, 2.600e+01, 1.305e+01, 1.220e+01,
       4.020e+00, 1.650e+01, 2.940e+01, 3.941e+01, 2.410e+00, 1.880e+01,
       7.250e+00, 1.925e+01, 1.460e+01, 1.585e+01, 1.200e+00, 2.650e+01,
       2.485e+01, 5.520e+00, 1.568e+01, 6.460e+00, 1.640e+01, 2.422e+01,
       4.650e+00, 3.974e+01, 1.414e+01, 1.955e+01, 1.590e+01, 3.668e+01,
       1.164e+01, 1.017e+01, 7.580e+00, 2.317e+01, 1.090e+01, 1.700e+00,
       2.493e+01, 1.430e+01, 2.709e+01, 2.562e+01, 1.787e+01, 2.436e+01,
       1.757e+01, 1.900e+01, 6.740e+00, 2.107e+01, 4.500e-01, 5.600e+02,
       1.710e+01, 1.525e+01, 2.359e+01, 1.125e+01, 1.771e+01, 2.710e+01,
       2.548e+01, 2.430e+01, 1.067e+01, 2.510e+00, 6.690e+00, 1.792e+01,
       1.335e+01, 3.479e+01, 6.517e+01, 7.590e+00, 2.720e+01, 2.499e+01,
       1.004e+01, 2.807e+01, 1.680e+01, 3.444e+01, 3.040e+01, 3.045e+01,
       3.059e+01, 1.904e+01, 2.690e+00, 1.740e+01, 8.660e+00, 2.850e+00,
       1.790e+01, 2.674e+01, 1.053e+01, 1.335e+02, 2.492e+01, 1.687e+01,
       2.575e+01, 2.385e+01, 5.150e+00, 1.535e+01, 1.250e+00, 3.180e+01,
       2.130e+01, 1.176e+01, 2.296e+01, 2.000e-01, 2.135e+01, 1.487e+01,
       8.780e+00, 3.038e+01, 1.805e+01, 1.701e+01, 2.345e+01, 3.318e+01,
       6.330e+00, 2.220e+01, 4.260e+00, 4.942e+01, 1.967e+01, 3.000e-01,
       9.930e+00, 1.185e+01, 2.140e+01, 1.425e+01, 1.338e+01, 2.350e+01,
       1.376e+01, 1.440e+01, 1.990e+01, 2.270e+01, 4.080e+00, 1.159e+01,
       2.177e+01, 4.300e+01, 3.381e+01, 2.977e+01, 1.077e+01, 2.884e+01,
       6.180e+00, 1.299e+01, 1.946e+01, 3.759e+01, 2.506e+01, 3.745e+01,
       1.799e+01, 2.226e+01, 4.030e+00, 2.121e+01, 1.019e+01, 1.455e+01,
       1.589e+01, 3.350e+01, 1.250e+02, 4.298e+01, 2.065e+01, 2.480e+01,
       1.515e+01, 2.592e+01, 2.465e+01, 1.910e+01, 3.185e+01, 2.640e+01,
       5.960e+00, 1.408e+01, 3.700e+01, 6.520e+00, 3.556e+01, 4.470e+00,
       3.002e+01, 3.840e+02, 1.144e+01, 8.280e+00, 4.280e+00, 1.412e+01,
       2.660e+01, 2.725e+01, 7.250e+01, 2.569e+01, 1.905e+01, 2.295e+01,
       1.500e-01, 2.640e+02, 1.560e+00, 3.900e+01, 1.625e+01, 2.961e+01,
       3.164e+01, 1.481e+01, 2.380e+01, 2.375e+01, 2.960e+00, 1.200e-01,
       2.919e+01, 7.480e+00, 7.800e+01, 3.773e+01, 1.496e+01, 1.675e+01,
       3.633e+01, 4.980e+00, 2.023e+01, 3.500e-01, 4.400e-01, 2.324e+01,
       2.070e+01, 2.394e+01, 1.980e+01, 3.129e+01, 2.191e+01, 3.490e+00,
       2.464e+01, 2.828e+01, 5.290e+00, 2.590e+01, 6.960e+00, 5.404e+01,
       3.066e+01, 2.080e+01, 2.583e+01, 9.600e-01, 3.143e+01, 1.883e+01,
       1.290e+02, 3.234e+01, 3.507e+01, 2.079e+01, 2.835e+01, 2.212e+01,
       9.840e+00, 6.560e+00, 2.737e+01])

In [55]:
df25['Product Id'].unique()

array([622470, 628934, 628051, 632535, 654213, 632534, 632523, 782341,
       619539, 628063, 632527, 805899, 766141, 711147, 744837, 772004,
       711145, 627096, 628077, 767285, 629626, 591032, 591039, 591066,
       632526, 793783, 772003, 793778, 685003, 716244, 712071, 665670,
       665673, 665672, 744693, 810939, 632531, 656204, 628075, 665254,
       627309, 679287, 619328, 628935, 629049, 628062, 632522, 666264,
       706358, 655209, 653143, 626288, 573623, 628074, 628806, 616492,
       616491, 628807, 823475, 767211, 591034, 724898, 629014, 642579,
       706361, 618117, 618981, 581323, 591052, 818589, 591038, 591051,
       591043, 628076, 627308, 736501, 629013, 832400, 591047, 738985,
       618115, 670210, 762695, 762696, 658234, 741626, 787400, 658682,
       619334, 617941, 617917, 628931, 616493, 591037, 656498, 793780,
       771998, 793807, 712066, 623453, 637330, 744836, 771995, 689469,
       771854, 618116, 748319, 655208, 591045, 771036, 655206, 619325,
       637332, 823479, 742866, 726097, 810323, 742869, 632530, 645658,
       628930, 767229, 618112, 658684, 658686, 825048, 825050, 814575,
       616486, 766832, 744839, 665674, 670433, 752822, 752061, 752823,
       616485, 618988, 617916, 793760, 744838, 772005, 793808, 711383,
       744696, 744700, 752062, 656207, 767209, 780981, 769102, 594055,
       619331, 618987, 679285, 591033, 655207, 581324, 706359, 772008,
       767555, 814579, 670211, 708747, 610617, 653941, 708744, 708743,
       708750, 709308, 724177, 686642, 591036, 573624, 814578, 706360,
       617918, 737798, 722875, 617934, 811517, 775637, 771997, 616480,
       744697, 818590, 616478, 629048, 724176, 832677, 631065, 680837,
       621245, 793666, 672870, 617929, 617936, 621240, 653939, 618136,
       617935, 631082, 699550, 699546, 618127, 732410, 618139, 632529,
       623452, 789644, 591055, 699739, 699742, 699745, 646056, 744835,
       799859, 617920, 618150, 633123, 690634, 591049, 798376, 670218,
       766143, 716243, 793786, 741298, 791153, 819507, 616483, 727727,
       717791, 703752, 823478, 823481, 832676, 823483, 621241, 771037,
       726934, 708748, 829216, 746078, 772011, 772012, 616476, 717789,
       689465, 617944, 591065, 737801, 670223, 690635, 772007, 725124,
       708746, 626590, 744691, 670222, 744694, 772002, 778258, 626587,
       766787, 789378, 631035, 772001, 591053, 678126, 793809, 658709,
       689464, 618110, 793806, 748333, 717780, 714365, 771996, 823482,
       746080, 666671, 802509, 823480, 746076, 633126, 766900, 597064,
       771999, 626601, 713898, 717785, 736498, 628914, 618147, 751033,
       618119, 708745, 618126, 825049, 789640, 793777, 748672, 764951,
       622498, 663101, 645306, 778259, 621243, 658685, 670219, 651775,
       651713, 651715, 651716, 748374, 724905, 724178, 670216, 591150,
       807539, 700750, 818564, 658724, 631083, 699547, 714366, 744840,
       659313, 823484, 651773, 616482, 783173, 744842, 744843, 772000,
       670220, 591054, 650985, 700751, 726931, 621244, 616477, 622504,
       651714, 672871, 670212, 664943, 713897, 773188, 783174, 664554,
       716397, 679066, 628841, 626889, 617950, 659315, 669723, 726105,
       792484, 798741, 798744, 798745, 798748, 798739, 834309, 686639,
       789638, 798742, 798707, 798703, 666673, 737702, 716727, 628933,
       716077, 709538, 773193, 664941, 748336, 663527, 619324, 632521,
       798746, 798749, 807955, 699752, 743417, 623451, 670221, 618111,
       699271, 772010, 772006, 793664, 835012, 834991, 744698, 835021,
       667362, 834310, 775636, 834996, 835007, 835015, 651711, 834994,
       744841, 782077, 835022, 748335, 628083, 835017, 834998, 654646,
       835000, 748673, 748674, 835010, 835008, 718783, 658681, 835001,
       708749, 835020, 726106, 617928, 677536, 835013, 699551, 798723,
       798725, 835014, 699743, 810322, 834995, 628809, 741986, 787687,
       762782, 672793, 798706, 798710, 738393, 726107, 834992, 631079,
       834999, 835002, 834997, 652385, 632258, 632261, 835003, 618128,
       834993, 744632, 798711, 810321, 835004, 792483, 798724, 798722,
       832411, 737703, 835005, 633124, 837751, 728867, 650074, 619330,
       618980, 782013, 669182, 633122, 626589, 728839, 637218, 650116,
       706523, 835018, 662285, 838449, 618113, 617947, 798709, 838455,
       816735, 835009, 628913, 838446, 838450, 838454, 835016, 838448,
       835800, 696438, 838447, 617933, 772014, 798712, 662283, 789641,
       750999, 798704, 840058, 840061, 716245, 835011, 626600, 835006,
       699751, 835019, 798702, 798705, 838452, 744692, 841392, 838441,
       841391, 716234, 841389, 841395, 838453, 841401, 793779, 835023,
       822182, 841390, 793785, 631036, 841394, 841396, 727719, 727723,
       841388, 841398, 841399, 683670, 690636, 617938, 773237, 700749,
       659322, 741314, 798740, 798738, 657032, 838440, 658683, 706362,
       717807, 743426, 743420, 773239, 793782, 845547, 743423, 845552,
       838451, 841400, 845545, 665061, 845548, 670213, 670214, 629045,
       629628, 744699, 665255, 672877, 849891, 845549, 849848, 618138,
       849872, 852242, 852239, 798743, 669184, 696448, 853698, 698256,
       774545, 621459, 819495, 849830, 849833, 849873, 850369, 665057,
       855351, 849827, 849884, 849844, 855442, 855355, 727718, 672869,
       849826, 807536, 855353, 724903, 849839, 748329, 748334, 855352,
       773240, 819506, 798747, 798708, 689467, 857691, 857693, 724693,
       857688, 664940, 857704, 748318, 857698, 857694, 857695, 850361,
       850360, 773192, 717776, 716233, 716231, 631081, 857700, 845551,
       857697, 769384, 700753, 648199, 857703, 752465, 857696, 857686,
       857687, 857683, 859286, 859337, 617931, 857692, 850383, 859338,
       850352, 857702, 859335, 631037, 857701, 782637, 659312, 859377,
       629042, 860599, 738984, 860596, 850377, 849836, 861114, 855354,
       849883, 665018, 857699, 860597, 629043, 860594, 849828, 629046,
       849841, 849838, 850350, 670217, 675394, 857690, 849842, 849851,
       860595, 861356, 699748, 773236, 860598, 863911, 859287, 736503,
       863912, 857689, 736499, 837750, 706521, 863910, 849847, 689459,
       865524, 865321, 865320, 865535, 716229, 849837, 751000, 849852,
       850378, 867581, 867579, 865530, 865537, 865536, 865525, 782012,
       670215, 789639, 764447, 865322, 850363, 850354, 617953, 849889,
       870203, 870834, 870201, 870197, 870844, 863913, 849854, 872098,
       870257, 870277, 870847, 870199, 872097, 870253, 870200, 699741,
       659331, 870255, 850356, 870256, 870854, 819500, 669183, 874701,
       874703, 874704, 870832, 640431, 700213, 724052, 814574, 870861,
       870270, 870254, 877210, 877145, 874722, 877147, 877146, 877208,
       877150, 877149, 877148, 870848, 877328, 877322, 699740, 877211,
       672225, 672222, 672221, 672223, 877331, 870845, 669719, 877207,
       874702, 865538, 877144, 849834, 769386, 699738, 865533, 628929,
       865523, 877212, 880802, 880804, 880805, 880806, 878861, 850351,
       778257, 881144, 877209, 762699, 880803, 880807, 870858, 881826,
       881827, 881830, 881829, 882570, 882571, 881831, 882565, 882567,
       814577, 618142, 658712, 883451, 802523, 850357, 881828, 882569,
       883090, 870859, 694820, 870855, 680835, 882566, 865323, 618133,
       616687, 883450, 663839, 883092, 883093, 850372, 849871, 802525,
       883094, 849849, 886696, 886698, 886702, 886701, 762700, 886697,
       870835, 659330, 716230, 658215, 717786, 617921, 631080, 883091,
       870833, 689460, 888088, 865532, 888089, 888090])

In [56]:
df25['Item Transaction Value'].unique()

array([ 30.  ,   0.  ,  18.62, ..., 249.08,  14.82,  55.57], shape=(8084,))

In [57]:
df25['Item Quantity'].unique()

array([   0,    1,    3,    2,    4,   11,    6,   10,    5,   -1,   -4,
         -2,   -3,    7,   16,   12,    9,   29,  -28,   14,    8,   25,
         -8,   -5,   20,   15,  -10,  -15,  -20,   13,  -13,  -18,   -6,
         30,  -30,   -7,  -17,  -63,  -60,  -29,  -38,   24,  -11,   51,
         80,   32,   17,   18,   50,   60,  -50,  -12,  -32,  -80,  -23,
         23,  -16, -220,   65,  220,   36,   45,  167,  -36,  -65,  -25,
         40,  -40,   75,  -45, -167,  150,  120,  132,   34,  153,  -77,
        -76,   -9,   55,  -55,   90, -120,  -14,  -26, -141,  -70,  -71,
       -132,  141,   70,   71,   86,   56,   27,  -86,   33,   44,   19,
         21,  -21,  -31,   22,   49,   63, -125,  125,  -90,   28,   31,
         61,  200,   85,  100, -100,   46,  -22,  -61,   76,   77,  180,
         48,  160,   68, -200,   26])

In [58]:
df25['Redeemed Ticket Quantity'].unique()

array([  0,   1,   5,   3,  -1,   6,   4,   2,  -3,  -2,   7,  -4,   8,
       -13,  14,  -5,  -7,  -6,  -8,  -9, -11,   9, -10,  11,  12,  10,
        81,  64,  44,  16,  20,  50,  15,  13,  17])

In [59]:
df25['Expired Ticket Quantity'].unique()

array([  0,   2,   1,  -1,   3,   4,   7,  -2,  15,   8,   5,  10,   6,
        13,  11,  12,  -3,  -4,  14,  16,  29,   9, -13,  -6,  50,  20,
        22, -11,  45,  72, 112, 100,  77, -20,  91,  25,  71,  18,  17,
        60,  40,  35,  53,  48,  41,  66,  88,  80,  76, 135,  67,  26,
        28,  34, -10, -14,  59,  -5, 167, 106,  24,  27,  21,  75,  55,
       125,  43,  90, 120,  39,  70,  32,  44,  84, 105, -12,  30,  -8,
        42, -16, 154,  65,  54,  56,  -7,  37])

In [60]:
df25['Recognised Ticket Quantity'].unique()

array([  0,   1,   5,   3,  -1,   6,   4,   2,  -3,  -2,   7,  -4,  15,
         8,  10,  13,  11,  12,  14,  16,  29,   9, -13,  50,  20,  -5,
        -7,  -6,  -8,  -9, -11,  22,  45, -10,  72, 112,  81, 100,  77,
        64, -20,  91,  25,  71,  18,  17,  44,  60,  40,  35,  53,  48,
        41,  66,  88,  80,  76, 135,  67,  26,  28,  34, -14,  59, 167,
       106,  24,  27,  21,  75,  55, 125,  43,  90, 120,  39,  70,  32,
        84, 105, -12,  30,  42, -16, 154,  65,  54,  56,  37])

In [61]:
df25['Credit Card Fee Amount'].unique()

array([0.])

In [62]:
df25['Transaction Fee Amount'].unique()

array([0.])

In [63]:
df25.columns

Index(['Record Date', 'Entry Type', 'Booking ID', 'Booking Location',
       'Payment Device', 'Product Reporting Name', 'Product Name',
       'Ticket Reporting Name', 'Ticket Name', 'Funds Received', 'Discount',
       'Fee Revenue', 'Tax Collected', 'Tax %', 'Status', 'Transaction ID',
       'Transaction Location', 'Payment Method', 'Gateway ID', 'GL Code',
       'Ticket Quantity', 'Company Name', 'Tax On Fees', 'Deferred Rev',
       'Other Deferred Rev', 'Gift Card Def Rev', 'Acc Receivable',
       'Gross Revenue', 'Discounts Recognised', 'Tax Payable', 'Net Revenue',
       'Unit Cost', 'Product Id', 'Item Transaction Value', 'Item Quantity',
       'Redeemed Ticket Quantity', 'Expired Ticket Quantity',
       'Recognised Ticket Quantity', 'Credit Card Fee Amount',
       'Transaction Fee Amount', 'Product Booking Fee Amount',
       'Booking Modifier Amount', 'Discount Code Used', 'Expiry Date',
       'External Payments'],
      dtype='object')

In [64]:
df25['Product Booking Fee Amount'].unique()

array([0.])

In [65]:
df25['Booking Modifier Amount'].unique()

array([0.])

In [66]:
df25['Discount Code Used'].unique()

array([nan, 'STAFFBEV30', 'BRISKIDS5', '83427103-280679704',
       '85193109-287102211', '72015207-238521087', '74501184-247626841',
       'Vera199166324', '85300996-287487213', '85300996-287487214',
       '85010005-286446479', '85313307-287534363', '77042311-256972974',
       '85311769-287527631', '85338787-287620549', '85338787-287620550',
       '85338787-287620551', '85338787-287620552', '85338787-287620553',
       '85338787-287620554', '85338787-287620555', 'DREAM50',
       '180fcb8763', '72983328-241869920', '83050940-279270529',
       '78196229-261265450', '69944748-241082609', '71073165-235331842',
       '83436341-280720932', '77259988-257797134', '76274663-254024976',
       '74533136-247720060', '74416185-247277308', '71837581-237941045',
       '84924661-286149076', '85074675-286673323', '74939751-249184915',
       '74939751-249184918', '74939751-249184916', '74939751-249184917',
       '75805944-252259541', '83782730-282001383', '71405641-236493652',
       '84602081-284937211', '10XRAFFLEWINNER', '85585812-288455688',
       '81396837-273184528', '72521025-240267715', '85641506-288649273',
       '83984182-282764479', '85747195-289008596', '85747195-289008597',
       '85747195-289008599', '73491627-243873053', 'FAMILYFUN20',
       '79775164-267127113', '85782997-289136692', 'FAMILYFUN10',
       '85232432-287247949', '76244910-253927363', '85853045-289348091',
       '84741773-285441670', '82880542-278579580', '77298352-257935521',
       'CLASS10', '75359891-250703416', '80507031-269846407',
       '83050940-279270530', '83050940-279270531', '85747195-289008598',
       '83623375-281385827', '85902460-289498960', '85902460-289498961',
       '83623375-281385828', '79182838-264792523', '83727835-281820536',
       '5PMSALE', '82244197-276129962', '85987755-289782002',
       '83414552-280622768', '83414552-280622770', '83414552-280622771',
       '83414552-280622769', '86024534-289911286', '82715903-277918503',
       '80194809-268713838', '75775705-252153064', '86237032-290648342',
       '86237032-290648341', '86237032-290648340', '81467471-273427867',
       '85976466-289742790', '84573287-284844070', '84573287-284844071',
       '77056493-257026905', '77056493-257026906', 'FAMILYFUN15',
       '86237032-290648343', '82178554-275925872', '86418551-291243083',
       '86440112-291320600', '78263778-261517031', '74588898-247895917',
       '86604170-291893470', '86604170-291893471', '86604170-291893472',
       '86604170-291893473', '83876076-282359285', '75441816-250973925',
       '2FOR1ASTROBUB', '86868089-292780295', '2FOR1BUB',
       '76443077-254690638', '87103926-293638399', '72521082-240267893',
       '77025092-256896002', '87338833-294536094', '87341244-294543000',
       '87319000-294469758', '87319000-294469759', '82489839-277075369',
       'chloeandcalebb15underwood', '87390510-294712864',
       '75680837-251852397', '77345027-258080228', 'TrainingPortal51',
       '74574473-247851887', 'MURPHY500', '72869119-241490406',
       '87341244-294542998', '87341244-294542999', '82614650-277575109',
       '87936071-296760408', '85640024-288643930', '87992785-296988629',
       '88073090-297244161', '88077150-297256445', '83836095-282181542',
       '88116246-297399758', '76847526-256217922', '88250886-297967468',
       '78803978-263491774', '75744063-252052314', '88256525-297987258',
       '88276735-298053412', '88276735-298053413', '88276735-298053414',
       '79927495-267686216', '88307997-298149572', '2FOR1INFINITE',
       'Cheng67699232', '88339472-298267872', '88339472-298267873',
       '80995168-271669763', '88400282-298535807', '76817853-256107816',
       '81413507-273244283', '87325432-294491111', '88586769-299202327',
       '85149900-286941769', '88603476-299269454',
       'amber-leighxo15underwood', '80404590-269483864',
       '87533884-295301006', '83597774-281275302', '83352457-280363047',
       '88817647-300024260', '74707861-248376087', '88784946-299881043',
       '88905792-300373122', '89007839-300691717', '82981927-278988893',
       '75680828-251852347', '89084480-301038561', '81376609-273107519',
       '89119312-301183591', '89127309-301223515', '89127309-301223516',
       '89127309-301223517', '89127309-301223518', '89127309-301223520',
       '89127309-301223519', '89150036-301304255', '82940604-278805529',
       '82645561-277675442', '8f7c313a42', '74768750-248588429',
       '84407839-284260583', '79230551-264995337', '80046502-268140053',
       '89344226-301988345', '89369063-302076202', '76391590-254456598',
       '89417588-302254356', '83395266-280538264', '89452447-302365948',
       '89482438-302467245', '9141b2d5fb', '82729894-277979825',
       'Julia258681280', '89734882-303353548', '89790764-303551489',
       '81381902-273128185', '89830311-303688960', '77935602-260291167',
       '77001899-256786572', '90137368-304784079', '90139863-304792166',
       '90166606-304881205', '90139863-304792167', '83092531-279398674',
       '90223029-305060674', '90229185-305080855', '90274440-305223165',
       '90238404-305109793', '90409946-305819155', '90413544-305830122',
       '90477269-306034436', '90493035-306086144', '90393222-305765763',
       '90409946-305819154', '90502024-306121992', '90409946-305819156',
       '90763318-307186155', '90784251-307266812', '79372738-265530242',
       '78301334-261655168', '90809750-307347088', '90944099-307843136',
       '82211062-276030802', '91159513-308690130', '90137368-304784080',
       '84602081-284937212', '79915038-267634409', '91415030-309638948',
       'Gerii2014Test!', 'Chess50219', '76115143-253369362',
       '91468043-309813005', 'Chess56965', '91525212-309996326',
       '91660143-310545707', '91660143-310545708', '91660143-310545709',
       '91660143-310545710', 'Chess22704', 'Chess11865',
       'Eunk72915underwood', 'courtz.roman15underwood',
       '91945781-311566472', '89572059-302764524', 'Chess24859',
       'Chess41224', '78170410-261158584', '82794916-278293346',
       'Chess16069', '92234977-312695861', '92222918-312648612',
       '89374181-302097123', 'caf2c0cd6a', '92331643-313076699',
       '92417709-313398337', 'Chess21611', 'Chess75884', 'Chess52349',
       'Chess96448', '82273934-276245315', '92599887-314044509',
       '89466204-302410778', '92717378-314471819', '92717378-314471820',
       '92717378-314471821', '92717378-314471822', 'Chess52821',
       '92701781-314414129', '92764271-314638887', '92823404-314838964',
       '92823404-314838965', '92823404-314838966', '92823404-314838967',
       '92826653-314852792', '91350987-309366784', '91350987-309366785'],
      dtype=object)

In [67]:
df25['Expiry Date'].unique()

array(['2025-05-29 23:59:00', '2024-06-01 17:40:00',
       '2025-01-01 10:40:00', ..., '2025-07-12 19:50:00',
       '2025-07-12 20:00:00', '2026-05-26 23:59:00'],
      shape=(9061,), dtype=object)

In [68]:
df25['External Payments'].unique()

array([0.])

In [7]:
import pandas as pd
df = pd.read_csv('RR23_UW.csv', nrows=10)
print(df)

           Record Date   Entry Type  Booking ID Booking Location  \
0  2023-01-01 06:00:10  Transaction    57445024  Online checkout
1  2023-01-01 06:00:10   Adjustment    57445024  Online checkout
2  2023-01-01 06:00:13  Transaction    57445276  Online checkout
3  2023-01-01 06:00:13   Adjustment    57445276  Online checkout
4  2023-01-01 07:15:13  Transaction    58076969  Online checkout
5  2023-01-01 07:15:13  Transaction    58076969  Online checkout
6  2023-01-01 07:49:06  Transaction    58077456  Online checkout
7  2023-01-01 07:49:06  Transaction    58077456  Online checkout
8  2023-01-01 08:18:44  Transaction    58078032  Online checkout
9  2023-01-01 08:18:44  Transaction    58078032  Online checkout

   Payment Device  Product Reporting Name  \
0             NaN                     NaN
1             NaN                     NaN
2             NaN                     NaN
3             NaN                     NaN
4             NaN                     NaN
5             NaN                     NaN
6             NaN                     NaN
7             NaN                     NaN
8             NaN                     NaN
9             NaN                     NaN

                                   Product Name  Ticket Reporting Name  \
0      *GIZMO KID Membership (Non-Transferable)                    NaN
1      *GIZMO KID Membership (Non-Transferable)                    NaN
2      *GIZMO KID Membership (Non-Transferable)                    NaN
3      *GIZMO KID Membership (Non-Transferable)                    NaN
4                    MINI ROVER - 2HRS (3-4YRS)                    NaN
5                                    GRIP SOCKS                    NaN
6  GIZMO KIDS, HEAD FOR HEIGHTS - 2HRS (5-8YRS)                    NaN
7                                    GRIP SOCKS                    NaN
8             HEAD FOR HEIGHTS - 2HRS (9-12YRS)                    NaN
9                                    GRIP SOCKS                    NaN

                         Ticket Name  Funds Received  ...  \
0               Gizmo Kid Membership           30.00  ...
1               Gizmo Kid Membership            0.00  ...
2               Gizmo Kid Membership           30.00  ...
3               Gizmo Kid Membership            0.00  ...
4  2 Hours - Public Holiday (3-4YRS)           71.38  ...
5                      Area 51 Socks           10.86  ...
6           2 Hours - Public Holiday           71.42  ...
7                      Area 51 Socks            7.25  ...
8    2 Hours - Weekends and Holidays           31.55  ...
9                      Area 51 Socks            3.68  ...

   Redeemed Ticket Quantity  Expired Ticket Quantity  \
0                         0                        0
1                         0                        0
2                         0                        0
3                         0                        0
4                         0                        0
5                         0                        0
6                         0                        0
7                         0                        0
8                         0                        0
9                         0                        0

   Recognised Ticket Quantity  Credit Card Fee Amount Transaction Fee Amount  \
0                           0                     0.0                    0.0
1                           0                     0.0                    0.0
2                           0                     0.0                    0.0
3                           0                     0.0                    0.0
4                           0                     0.0                    0.0
5                           0                     0.0                    0.0
6                           0                     0.0                    0.0
7                           0                     0.0                    0.0
8                           0                     0.0                    0.0
9                           0                     0.0                    0.0

   Product Booking Fee Amount Booking Modifier Amount Discount Code Used  \
0                         0.0                     0.0                NaN
1                         0.0                     0.0                NaN
2                         0.0                     0.0                NaN
3                         0.0                     0.0                NaN
4                         0.0                     0.0                NaN
5                         0.0                     0.0                NaN
6                         0.0                     0.0                NaN
7                         0.0                     0.0                NaN
8                         0.0                     0.0                NaN
9                         0.0                     0.0                NaN

           Expiry Date External Payments
0  2023-12-17 23:59:00               0.0
1  2023-12-17 23:59:00               0.0
2  2023-12-17 23:59:00               0.0
3  2023-12-17 23:59:00               0.0
4  2023-01-02 11:40:00               0.0
5  2023-01-02 11:40:00               0.0
6  2023-01-02 11:40:00               0.0
7  2023-01-02 11:40:00               0.0
8  2023-01-03 11:40:00               0.0
9  2023-01-03 11:40:00               0.0

[10 rows x 45 columns]

In [8]:
import pandas as pd
df = pd.read_csv('RR22_UW.csv', nrows=10)
print(df)

           Record Date   Entry Type  Booking ID Booking Location  \
0  2022-05-12 14:02:07  Transaction    51025293  Online checkout
1  2022-05-30 13:08:40  Transaction    51427003  Online checkout
2  2022-05-30 13:08:40  Transaction    51427003  Online checkout
3  2022-05-30 13:08:40  Transaction    51427003  Online checkout
4  2022-05-30 13:25:28  Transaction    51427415  Online checkout
5  2022-05-30 13:25:28  Transaction    51427415  Online checkout
6  2022-05-30 13:26:57  Transaction    51427448  Online checkout
7  2022-05-30 13:26:57  Transaction    51427448  Online checkout
8  2022-05-30 13:26:57  Transaction    51427448  Online checkout
9  2022-05-30 13:26:57  Transaction    51427448  Online checkout

   Payment Device  Product Reporting Name  \
0             NaN                     NaN
1             NaN                     NaN
2             NaN                     NaN
3             NaN                     NaN
4             NaN                     NaN
5             NaN                     NaN
6             NaN                     NaN
7             NaN                     NaN
8             NaN                     NaN
9             NaN                     NaN

                                      Product Name  Ticket Reporting Name  \
0  Gizmo's Galaxy General Admission (2 hr session)                    NaN
1               Ages 6+ The Universe Party Package                    NaN
2               Ages 6+ The Universe Party Package                    NaN
3                                          invalid                    NaN
4               Ages 6+ VIP Infinity Party Package                    NaN
5               Ages 6+ The Universe Party Package                    NaN
6               Ages 6+ The Universe Party Package                    NaN
7               Ages 6+ The Universe Party Package                    NaN
8                                         Platters                    NaN
9                                         Platters                    NaN

                                         Ticket Name  Funds Received  ...  \
0                                  General Admission            1.02  ...
1      Ages 6+ The Universe Party Package (8 guests)          169.01  ...
2                        Room 1 - Extra Kids (Max 8)           39.63  ...
3                                            invalid           19.43  ...
4              VIP Infinity Party Package (8 guests)          359.84  ...
5                        Room 1 - Extra Kids (Max 8)           16.99  ...
6      Ages 6+ The Universe Party Package (8 guests)          185.51  ...
7                        Room 1 - Extra Kids (Max 8)          116.00  ...
8                Nachos with BBQ Beef (GF, Serves 4)           11.94  ...
9  Cheese Board (Cheese, Olives, Fruits and Crack...           23.46  ...

   Redeemed Ticket Quantity  Expired Ticket Quantity  \
0                         0                        0
1                         0                        0
2                         0                        0
3                         0                        0
4                         0                        0
5                         0                        0
6                         0                        0
7                         0                        0
8                         0                        0
9                         0                        0

   Recognised Ticket Quantity  Credit Card Fee Amount Transaction Fee Amount  \
0                           0                     0.0                    0.0
1                           0                     0.0                    0.0
2                           0                     0.0                    0.0
3                           0                     0.0                    0.0
4                           0                     0.0                    0.0
5                           0                     0.0                    0.0
6                           0                     0.0                    0.0
7                           0                     0.0                    0.0
8                           0                     0.0                    0.0
9                           0                     0.0                    0.0

   Product Booking Fee Amount Booking Modifier Amount Discount Code Used  \
0                         0.0                     0.0                NaN
1                         0.0                     0.0                NaN
2                         0.0                     0.0                NaN
3                         0.0                     0.0                NaN
4                         0.0                     0.0                NaN
5                         0.0                     0.0                NaN
6                         0.0                     0.0                NaN
7                         0.0                     0.0                NaN
8                         0.0                     0.0                NaN
9                         0.0                     0.0                NaN

           Expiry Date  External Payments
0  2022-06-17 09:20:00                0.0
1  2022-07-24 12:40:00                0.0
2  2022-07-24 12:40:00                0.0
3  2022-07-24 12:40:00                0.0
4  2022-07-23 12:40:00                0.0
5  2022-07-23 12:40:00                0.0
6  2022-07-24 12:40:00                0.0
7  2022-07-24 12:40:00                0.0
8  2022-07-24 12:40:00                0.0
9  2022-07-24 12:40:00                0.0

[10 rows x 45 columns]

In [9]:
import pandas as pd
df = pd.read_csv('RR2401_UW.csv', nrows=10)
print(df)

           Record Date   Entry Type  Booking ID Booking Location  \
0  2024-01-01 03:18:15  Transaction    63392678  Online checkout
1  2024-01-01 03:18:15   Adjustment    63392678  Online checkout
2  2024-01-01 03:18:16  Transaction    67815991              POS
3  2024-01-01 03:18:16   Adjustment    67815991              POS
4  2024-01-01 05:14:23  Transaction    69989909  Online checkout
5  2024-01-01 05:14:23  Transaction    69989909  Online checkout
6  2024-01-01 05:14:23  Transaction    69989909  Online checkout
7  2024-01-01 05:27:08  Transaction    71103221  Online checkout
8  2024-01-01 05:27:08  Transaction    71103221  Online checkout
9  2024-01-01 05:27:08  Transaction    71103221  Online checkout

   Payment Device  Product Reporting Name  \
0             NaN                     NaN
1             NaN                     NaN
2             NaN                     NaN
3             NaN                     NaN
4             NaN                     NaN
5             NaN                     NaN
6             NaN                     NaN
7             NaN                     NaN
8             NaN                     NaN
9             NaN                     NaN

                                        Product Name  Ticket Reporting Name  \
0      COSMOS Membership ($60 P/M, Non-Transferable)                    NaN
1      COSMOS Membership ($60 P/M, Non-Transferable)                    NaN
2  MINI ROVER Membership ($30 P/M, Non-Transferable)                    NaN
3  MINI ROVER Membership ($30 P/M, Non-Transferable)                    NaN
4                                         MOON PARTY                    NaN
5                                         Old Boards                    NaN
6                          Party Table Cloth Runners                    NaN
7                           ASTROTOT - 2HRS (1-2YRS)                    NaN
8                         MINI ROVER - 2HRS (3-4YRS)                    NaN
9                                 AREA 51 GRIP SOCKS                    NaN

                             Ticket Name  Funds Received  ...  \
0                      Cosmos Membership           60.00  ...
1                      Cosmos Membership            0.00  ...
2                  Mini Rover Membership           30.00  ...
3                  Mini Rover Membership            0.00  ...
4     Moon Party (Weekends and Holidays)          217.39  ...
5  Cold Savoury Board (Request GFO, DFO)           28.26  ...
6                                   Blue            4.35  ...
7      2 Hours - Public Holiday (1-2YRS)           35.55  ...
8      2 Hours - Public Holiday (3-4YRS)           71.10  ...
9                     AREA 51 GRIP SOCKS           14.43  ...

   Redeemed Ticket Quantity  Expired Ticket Quantity  \
0                         0                        0
1                         0                        0
2                         0                        0
3                         0                        0
4                         0                        0
5                         0                        0
6                         0                        0
7                         0                        0
8                         0                        0
9                         0                        0

   Recognised Ticket Quantity  Credit Card Fee Amount Transaction Fee Amount  \
0                           0                     0.0                    0.0
1                           0                     0.0                    0.0
2                           0                     0.0                    0.0
3                           0                     0.0                    0.0
4                           0                     0.0                    0.0
5                           0                     0.0                    0.0
6                           0                     0.0                    0.0
7                           0                     0.0                    0.0
8                           0                     0.0                    0.0
9                           0                     0.0                    0.0

   Product Booking Fee Amount Booking Modifier Amount Discount Code Used  \
0                         0.0                     0.0                NaN
1                         0.0                     0.0                NaN
2                         0.0                     0.0                NaN
3                         0.0                     0.0                NaN
4                         0.0                     0.0                NaN
5                         0.0                     0.0                NaN
6                         0.0                     0.0                NaN
7                         0.0                     0.0                NaN
8                         0.0                     0.0                NaN
9                         0.0                     0.0                NaN

           Expiry Date External Payments
0  2024-05-30 23:59:00               0.0
1  2024-05-30 23:59:00               0.0
2  2024-09-29 23:59:00               0.0
3  2024-09-29 23:59:00               0.0
4  2024-01-07 13:40:00               0.0
5  2024-01-07 13:40:00               0.0
6  2024-01-07 13:40:00               0.0
7  2024-01-01 11:40:00               0.0
8  2024-01-01 11:40:00               0.0
9  2024-01-01 11:40:00               0.0

[10 rows x 45 columns]

In [10]:
import pandas as pd
df = pd.read_csv('RR2402_UW.csv', nrows=10)
print(df)

           Record Date   Entry Type  Booking ID Booking Location  \
0  2024-07-01 03:18:16  Transaction    67815991              POS
1  2024-07-01 03:18:16   Adjustment    67815991              POS
2  2024-07-01 03:27:38  Transaction    78117575  Online checkout
3  2024-07-01 03:27:38  Transaction    78117575  Online checkout
4  2024-07-01 05:28:57  Transaction    78117614  Online checkout
5  2024-07-01 05:37:44  Transaction    78117618  Online checkout
6  2024-07-01 05:37:44  Transaction    78117618  Online checkout
7  2024-07-01 05:40:42  Transaction    78117622  Online checkout
8  2024-07-01 06:24:25  Transaction    78117651  Online checkout
9  2024-07-01 06:32:24  Transaction    78117659  Online checkout

   Payment Device  Product Reporting Name  \
0             NaN                     NaN
1             NaN                     NaN
2             NaN                     NaN
3             NaN                     NaN
4             NaN                     NaN
5             NaN                     NaN
6             NaN                     NaN
7             NaN                     NaN
8             NaN                     NaN
9             NaN                     NaN

                                        Product Name  Ticket Reporting Name  \
0  MINI ROVER Membership ($30 P/M, Non-Transferable)                    NaN
1  MINI ROVER Membership ($30 P/M, Non-Transferable)                    NaN
2         UNIVERSE, HEAD FOR HEIGHTS - 1HR (5-12YRS)                    NaN
3                                 AREA 51 GRIP SOCKS                    NaN
4             COSMOS, CLIMB THE WALLS - 1HR (13+YRS)                    NaN
5        UNIVERSE, HEAD FOR HEIGHTS - 2HRS (5-12YRS)                    NaN
6                                 AREA 51 GRIP SOCKS                    NaN
7        UNIVERSE, HEAD FOR HEIGHTS - 2HRS (5-12YRS)                    NaN
8         UNIVERSE, CLIMB THE WALLS - 2HRS (5-12YRS)                    NaN
9         UNIVERSE, CLIMB THE WALLS - 2HRS (5-12YRS)                    NaN

                                 Ticket Name  Funds Received  ...  \
0                      Mini Rover Membership           30.00  ...
1                      Mini Rover Membership            0.00  ...
2             1 Hour - Weekends and Holidays           41.72  ...
3                         AREA 51 GRIP SOCKS            7.30  ...
4    1 Hour - Weekends and Holidays (13+YRS)           21.43  ...
5  2 Hours - Weekends and Holidays (5-12YRS)          123.53  ...
6                         AREA 51 GRIP SOCKS           14.41  ...
7  2 Hours - Weekends and Holidays (5-12YRS)          123.63  ...
8  2 Hours - Weekends and Holidays (5-12YRS)           62.31  ...
9  2 Hours - Weekends and Holidays (5-12YRS)           62.31  ...

   Redeemed Ticket Quantity  Expired Ticket Quantity  \
0                         0                        0
1                         0                        0
2                         0                        0
3                         0                        0
4                         0                        0
5                         0                        0
6                         0                        0
7                         0                        0
8                         0                        0
9                         0                        0

   Recognised Ticket Quantity  Credit Card Fee Amount Transaction Fee Amount  \
0                           0                     0.0                    0.0
1                           0                     0.0                    0.0
2                           0                     0.0                    0.0
3                           0                     0.0                    0.0
4                           0                     0.0                    0.0
5                           0                     0.0                    0.0
6                           0                     0.0                    0.0
7                           0                     0.0                    0.0
8                           0                     0.0                    0.0
9                           0                     0.0                    0.0

   Product Booking Fee Amount Booking Modifier Amount Discount Code Used  \
0                         0.0                     0.0                NaN
1                         0.0                     0.0                NaN
2                         0.0                     0.0                NaN
3                         0.0                     0.0                NaN
4                         0.0                     0.0                NaN
5                         0.0                     0.0                NaN
6                         0.0                     0.0                NaN
7                         0.0                     0.0                NaN
8                         0.0                     0.0                NaN
9                         0.0                     0.0                NaN

           Expiry Date External Payments
0  2024-09-29 23:59:00               0.0
1  2024-09-29 23:59:00               0.0
2  2024-07-01 12:50:00               0.0
3  2024-07-01 12:50:00               0.0
4  2024-07-01 16:20:00               0.0
5  2024-07-02 13:40:00               0.0
6  2024-07-02 13:40:00               0.0
7  2024-07-01 14:10:00               0.0
8  2024-07-01 15:40:00               0.0
9  2024-07-02 13:40:00               0.0

[10 rows x 45 columns]

In [11]:
df2401 = pd.read_csv('RR2401_UW.csv')

In [ ]:
df25 = pd.read_csv('RR25_UW.csv')

In [12]:
df2402 = pd.read_csv('RR2402_UW.csv')

/var/folders/_t/s9_cqvqj4_n614936xfgdv_00000gn/T/ipykernel_53477/2116957210.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df2402 = pd.read_csv('RR2402_UW.csv')

In [13]:
df22 = pd.read_csv('RR22_UW.csv')

/var/folders/_t/s9_cqvqj4_n614936xfgdv_00000gn/T/ipykernel_53477/2640793160.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df22 = pd.read_csv('RR22_UW.csv')

In [14]:
df23 = pd.read_csv('RR23_UW.csv')

/var/folders/_t/s9_cqvqj4_n614936xfgdv_00000gn/T/ipykernel_53477/3182067635.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df23 = pd.read_csv('RR23_UW.csv')

In [15]:
dfs = [df22, df23, df2401, df2402, df25]
df = pd.concat(dfs, ignore_index=True)

In [17]:
df.shape

(2880162, 45)

In [18]:
test_df = df.head(100)
print(test_df)

            Record Date   Entry Type  Booking ID Booking Location  \
0   2022-05-12 14:02:07  Transaction    51025293  Online checkout
1   2022-05-30 13:08:40  Transaction    51427003  Online checkout
2   2022-05-30 13:08:40  Transaction    51427003  Online checkout
3   2022-05-30 13:08:40  Transaction    51427003  Online checkout
4   2022-05-30 13:25:28  Transaction    51427415  Online checkout
..                  ...          ...         ...              ...
95  2022-06-05 18:45:43  Transaction    51581409  Online checkout
96  2022-06-05 18:45:43  Transaction    51581409  Online checkout
97  2022-06-05 19:33:44  Transaction    51581801  Online checkout
98  2022-06-05 19:33:44  Transaction    51581801  Online checkout
99  2022-06-05 19:33:44  Transaction    51581801  Online checkout

   Payment Device  Product Reporting Name  \
0             NaN                     NaN
1             NaN                     NaN
2             NaN                     NaN
3             NaN                     NaN
4             NaN                     NaN
..            ...                     ...
95            NaN                     NaN
96            NaN                     NaN
97            NaN                     NaN
98            NaN                     NaN
99            NaN                     NaN

                                         Product Name  Ticket Reporting Name  \
0     Gizmo's Galaxy General Admission (2 hr session)                    NaN
1                  Ages 6+ The Universe Party Package                    NaN
2                  Ages 6+ The Universe Party Package                    NaN
3                                             invalid                    NaN
4                  Ages 6+ VIP Infinity Party Package                    NaN
..                                                ...                    ...
95                         Astro Tots Adventure Party                    NaN
96  Junior Gizmo and Launchpad Party Package (3-5yrs)                    NaN
97                 Ages 6+ The Universe Party Package                    NaN
98                 Ages 6+ The Universe Party Package                    NaN
99                                           Platters                    NaN

                                      Ticket Name  Funds Received  ...  \
0                               General Admission            1.02  ...
1   Ages 6+ The Universe Party Package (8 guests)          169.01  ...
2                     Room 1 - Extra Kids (Max 8)           39.63  ...
3                                         invalid           19.43  ...
4           VIP Infinity Party Package (8 guests)          359.84  ...
..                                            ...             ...  ...
95                    Room 1 - Extra Kids (Max 8)            8.70  ...
96                    Room 1 - Extra Kids (Max 8)           23.20  ...
97  Ages 6+ The Universe Party Package (8 guests)          219.50  ...
98                    Room 1 - Extra Kids (Max 8)          120.09  ...
99           Chicken Cheese Sandwich  (20 pieces)           15.14  ...

    Redeemed Ticket Quantity  Expired Ticket Quantity  \
0                          0                        0
1                          0                        0
2                          0                        0
3                          0                        0
4                          0                        0
..                       ...                      ...
95                         0                        0
96                         0                        0
97                         0                        0
98                         0                        0
99                         0                        0

    Recognised Ticket Quantity  Credit Card Fee Amount Transaction Fee Amount  \
0                            0                     0.0                    0.0
1                            0                     0.0                    0.0
2                            0                     0.0                    0.0
3                            0                     0.0                    0.0
4                            0                     0.0                    0.0
..                         ...                     ...                    ...
95                           0                     0.0                    0.0
96                           0                     0.0                    0.0
97                           0                     0.0                    0.0
98                           0                     0.0                    0.0
99                           0                     0.0                    0.0

    Product Booking Fee Amount Booking Modifier Amount Discount Code Used  \
0                          0.0                     0.0                NaN
1                          0.0                     0.0                NaN
2                          0.0                     0.0                NaN
3                          0.0                     0.0                NaN
4                          0.0                     0.0                NaN
..                         ...                     ...                ...
95                         0.0                     0.0                NaN
96                         0.0                     0.0                NaN
97                         0.0                     0.0                NaN
98                         0.0                     0.0                NaN
99                         0.0                     0.0                NaN

            Expiry Date External Payments
0   2022-06-17 09:20:00               0.0
1   2022-07-24 12:40:00               0.0
2   2022-07-24 12:40:00               0.0
3   2022-07-24 12:40:00               0.0
4   2022-07-23 12:40:00               0.0
..                  ...               ...
95  2022-07-23 14:40:00               0.0
96  2022-07-23 14:40:00               0.0
97  2022-08-21 14:40:00               0.0
98  2022-08-21 14:40:00               0.0
99  2022-08-21 14:40:00               0.0

[100 rows x 45 columns]

In [19]:
print(test_df['Record Date'])

0     2022-05-12 14:02:07
1     2022-05-30 13:08:40
2     2022-05-30 13:08:40
3     2022-05-30 13:08:40
4     2022-05-30 13:25:28
             ...
95    2022-06-05 18:45:43
96    2022-06-05 18:45:43
97    2022-06-05 19:33:44
98    2022-06-05 19:33:44
99    2022-06-05 19:33:44
Name: Record Date, Length: 100, dtype: object

In [20]:
test_df.to_csv('test_df.csv')

In [28]:
df.dtypes

Record Date                    object
Entry Type                     object
Booking ID                      int64
Booking Location               object
Payment Device                 object
Product Reporting Name        float64
Product Name                   object
Ticket Reporting Name         float64
Ticket Name                    object
Funds Received                float64
Discount                      float64
Fee Revenue                   float64
Tax Collected                 float64
Tax %                         float64
Status                         object
Transaction ID                float64
Transaction Location           object
Payment Method                 object
Gateway ID                     object
GL Code                        object
Ticket Quantity                 int64
Company Name                   object
Tax On Fees                   float64
Deferred Rev                  float64
Other Deferred Rev            float64
Gift Card Def Rev             float64
Acc Receivable                float64
Gross Revenue                 float64
Discounts Recognised          float64
Tax Payable                   float64
Net Revenue                   float64
Unit Cost                     float64
Product Id                      int64
Item Transaction Value        float64
Item Quantity                   int64
Redeemed Ticket Quantity        int64
Expired Ticket Quantity         int64
Recognised Ticket Quantity      int64
Credit Card Fee Amount        float64
Transaction Fee Amount        float64
Product Booking Fee Amount    float64
Booking Modifier Amount       float64
Discount Code Used             object
Expiry Date                    object
External Payments             float64
dtype: object

In [62]:
df0 = df.copy()

In [32]:
df1 = df0[['Record Date', 'Funds Received']].copy()

In [33]:
df1.dtypes

Record Date        object
Funds Received    float64
dtype: object

In [34]:
df1['Record Date Converted'] = pd.to_datetime(df1['Record Date'], errors='coerce')

invalid_rows = df1[df1['Record Date Converted'].isna()]

error_indices = invalid_rows.index.tolist()
print("invaild rows", error_indices)

invaild rows []

In [35]:
df0['Record Date Converted'] = pd.to_datetime(df0['Record Date'], errors='coerce')

invalid_rows = df0[df0['Record Date Converted'].isna()]

error_indices = invalid_rows.index.tolist()
print("invaild rows", error_indices)

invaild rows []

In [36]:
print(df1)

                 Record Date  Funds Received Record Date Converted
0        2022-05-12 14:02:07            1.02   2022-05-12 14:02:07
1        2022-05-30 13:08:40          169.01   2022-05-30 13:08:40
2        2022-05-30 13:08:40           39.63   2022-05-30 13:08:40
3        2022-05-30 13:08:40           19.43   2022-05-30 13:08:40
4        2022-05-30 13:25:28          359.84   2022-05-30 13:25:28
...                      ...             ...                   ...
2880157  2025-07-12 22:43:08            0.00   2025-07-12 22:43:08
2880158  2025-07-12 22:43:08           19.32   2025-07-12 22:43:08
2880159  2025-07-12 22:58:11           31.36   2025-07-12 22:58:11
2880160  2025-07-12 22:58:11            7.32   2025-07-12 22:58:11
2880161  2025-07-12 22:58:11            5.23   2025-07-12 22:58:11

[2880162 rows x 3 columns]

In [37]:
df1.rename(columns={'Record Date Converted': 'date'}, inplace=True)
df1.rename(columns={'Funds Received': 'funds'}, inplace=True)
print(df1.head(10))

           Record Date   funds                date
0  2022-05-12 14:02:07    1.02 2022-05-12 14:02:07
1  2022-05-30 13:08:40  169.01 2022-05-30 13:08:40
2  2022-05-30 13:08:40   39.63 2022-05-30 13:08:40
3  2022-05-30 13:08:40   19.43 2022-05-30 13:08:40
4  2022-05-30 13:25:28  359.84 2022-05-30 13:25:28
5  2022-05-30 13:25:28   16.99 2022-05-30 13:25:28
6  2022-05-30 13:26:57  185.51 2022-05-30 13:26:57
7  2022-05-30 13:26:57  116.00 2022-05-30 13:26:57
8  2022-05-30 13:26:57   11.94 2022-05-30 13:26:57
9  2022-05-30 13:26:57   23.46 2022-05-30 13:26:57

In [39]:
df1['date'] = pd.to_datetime(df1['Record Date']).dt.date
print(df1.head(10))

           Record Date   funds        date
0  2022-05-12 14:02:07    1.02  2022-05-12
1  2022-05-30 13:08:40  169.01  2022-05-30
2  2022-05-30 13:08:40   39.63  2022-05-30
3  2022-05-30 13:08:40   19.43  2022-05-30
4  2022-05-30 13:25:28  359.84  2022-05-30
5  2022-05-30 13:25:28   16.99  2022-05-30
6  2022-05-30 13:26:57  185.51  2022-05-30
7  2022-05-30 13:26:57  116.00  2022-05-30
8  2022-05-30 13:26:57   11.94  2022-05-30
9  2022-05-30 13:26:57   23.46  2022-05-30

In [41]:
df1.drop('Record Date', axis = 1, inplace = True)
print(df1.head(10))

    funds        date
0    1.02  2022-05-12
1  169.01  2022-05-30
2   39.63  2022-05-30
3   19.43  2022-05-30
4  359.84  2022-05-30
5   16.99  2022-05-30
6  185.51  2022-05-30
7  116.00  2022-05-30
8   11.94  2022-05-30
9   23.46  2022-05-30

In [45]:
df_grouped = df1.groupby('date').agg(
    count=('date', 'count'),
    funds=('funds', 'sum')
).reset_index()
print(df_grouped.head(10))

         date  count    funds
0  2022-05-12      1     1.02
1  2022-05-30     32  2741.56
2  2022-06-01      7   452.42
3  2022-06-03     21  2355.81
4  2022-06-04     27  2454.73
5  2022-06-05     16  1494.15
6  2022-06-06     12   590.52
7  2022-06-07     25  1615.69
8  2022-06-08      7   935.53
9  2022-06-09     36  1255.00

In [47]:
df_grouped.shape

(1139, 3)

In [55]:
df_grouped.dtypes

date      object
count      int64
funds    float64
dtype: object

In [49]:
filtered = df_grouped[df_grouped['funds'] < 10000][['date', 'count', 'funds']]
print(filtered)

            date  count    funds
0     2022-05-12      1     1.02
1     2022-05-30     32  2741.56
2     2022-06-01      7   452.42
3     2022-06-03     21  2355.81
4     2022-06-04     27  2454.73
5     2022-06-05     16  1494.15
6     2022-06-06     12   590.52
7     2022-06-07     25  1615.69
8     2022-06-08      7   935.53
9     2022-06-09     36  1255.00
10    2022-06-10      3   240.33
11    2022-06-11      1   409.79
12    2022-06-12     23  1619.74
13    2022-06-13      2   245.81
14    2022-06-14     16   969.10
15    2022-06-15     14  1489.77
16    2022-06-16      9   672.86
17    2022-06-17     17  1273.68
18    2022-06-18    127  1512.58
19    2022-06-19     14  1507.31
20    2022-06-20     32  2868.00
21    2022-06-21     28  2074.64
22    2022-06-22     36  1699.66
23    2022-06-23     14   742.64
24    2022-06-24     19  1958.90
25    2022-06-25     29  2540.78
26    2022-06-26     26  2224.13
27    2022-06-27     12  1021.17
28    2022-06-28     42  2765.37
30    2022-06-30    171  7259.28
31    2022-07-01    105  6694.91
208   2022-12-25    130  4437.49
245   2023-01-31    673  9989.95
573   2023-12-25    149  7529.40
615   2024-02-05    839  8253.80
616   2024-02-06    737  9252.29
622   2024-02-12    785  9852.06
939   2024-12-25    137  6085.02
973   2025-01-28    992  8972.69
994   2025-02-18    548  9307.27
1009  2025-03-05    749  5653.00
1010  2025-03-06   1069  2712.90
1011  2025-03-07    458  1262.27
1012  2025-03-08    453  5761.75

In [57]:
pd.api.types.is_datetime64_any_dtype(df0['Record Date'])

False

In [63]:
df0['date'] = pd.to_datetime(df0['Record Date']).dt.normalize()
print(df0.head(10))

           Record Date   Entry Type  Booking ID Booking Location  \
0  2022-05-12 14:02:07  Transaction    51025293  Online checkout
1  2022-05-30 13:08:40  Transaction    51427003  Online checkout
2  2022-05-30 13:08:40  Transaction    51427003  Online checkout
3  2022-05-30 13:08:40  Transaction    51427003  Online checkout
4  2022-05-30 13:25:28  Transaction    51427415  Online checkout
5  2022-05-30 13:25:28  Transaction    51427415  Online checkout
6  2022-05-30 13:26:57  Transaction    51427448  Online checkout
7  2022-05-30 13:26:57  Transaction    51427448  Online checkout
8  2022-05-30 13:26:57  Transaction    51427448  Online checkout
9  2022-05-30 13:26:57  Transaction    51427448  Online checkout

  Payment Device  Product Reporting Name  \
0            NaN                     NaN
1            NaN                     NaN
2            NaN                     NaN
3            NaN                     NaN
4            NaN                     NaN
5            NaN                     NaN
6            NaN                     NaN
7            NaN                     NaN
8            NaN                     NaN
9            NaN                     NaN

                                      Product Name  Ticket Reporting Name  \
0  Gizmo's Galaxy General Admission (2 hr session)                    NaN
1               Ages 6+ The Universe Party Package                    NaN
2               Ages 6+ The Universe Party Package                    NaN
3                                          invalid                    NaN
4               Ages 6+ VIP Infinity Party Package                    NaN
5               Ages 6+ The Universe Party Package                    NaN
6               Ages 6+ The Universe Party Package                    NaN
7               Ages 6+ The Universe Party Package                    NaN
8                                         Platters                    NaN
9                                         Platters                    NaN

                                         Ticket Name  Funds Received  ...  \
0                                  General Admission            1.02  ...
1      Ages 6+ The Universe Party Package (8 guests)          169.01  ...
2                        Room 1 - Extra Kids (Max 8)           39.63  ...
3                                            invalid           19.43  ...
4              VIP Infinity Party Package (8 guests)          359.84  ...
5                        Room 1 - Extra Kids (Max 8)           16.99  ...
6      Ages 6+ The Universe Party Package (8 guests)          185.51  ...
7                        Room 1 - Extra Kids (Max 8)          116.00  ...
8                Nachos with BBQ Beef (GF, Serves 4)           11.94  ...
9  Cheese Board (Cheese, Olives, Fruits and Crack...           23.46  ...

   Expired Ticket Quantity  Recognised Ticket Quantity  \
0                        0                           0
1                        0                           0
2                        0                           0
3                        0                           0
4                        0                           0
5                        0                           0
6                        0                           0
7                        0                           0
8                        0                           0
9                        0                           0

   Credit Card Fee Amount  Transaction Fee Amount Product Booking Fee Amount  \
0                     0.0                     0.0                        0.0
1                     0.0                     0.0                        0.0
2                     0.0                     0.0                        0.0
3                     0.0                     0.0                        0.0
4                     0.0                     0.0                        0.0
5                     0.0                     0.0                        0.0
6                     0.0                     0.0                        0.0
7                     0.0                     0.0                        0.0
8                     0.0                     0.0                        0.0
9                     0.0                     0.0                        0.0

   Booking Modifier Amount Discount Code Used          Expiry Date  \
0                      0.0                NaN  2022-06-17 09:20:00
1                      0.0                NaN  2022-07-24 12:40:00
2                      0.0                NaN  2022-07-24 12:40:00
3                      0.0                NaN  2022-07-24 12:40:00
4                      0.0                NaN  2022-07-23 12:40:00
5                      0.0                NaN  2022-07-23 12:40:00
6                      0.0                NaN  2022-07-24 12:40:00
7                      0.0                NaN  2022-07-24 12:40:00
8                      0.0                NaN  2022-07-24 12:40:00
9                      0.0                NaN  2022-07-24 12:40:00

  External Payments       date
0               0.0 2022-05-12
1               0.0 2022-05-30
2               0.0 2022-05-30
3               0.0 2022-05-30
4               0.0 2022-05-30
5               0.0 2022-05-30
6               0.0 2022-05-30
7               0.0 2022-05-30
8               0.0 2022-05-30
9               0.0 2022-05-30

[10 rows x 46 columns]

In [66]:
df0.dtypes

Entry Type                            object
Booking ID                             int64
Booking Location                      object
Payment Device                        object
Product Reporting Name               float64
Product Name                          object
Ticket Reporting Name                float64
Ticket Name                           object
Funds Received                       float64
Discount                             float64
Fee Revenue                          float64
Tax Collected                        float64
Tax %                                float64
Status                                object
Transaction ID                       float64
Transaction Location                  object
Payment Method                        object
Gateway ID                            object
GL Code                               object
Ticket Quantity                        int64
Company Name                          object
Tax On Fees                          float64
Deferred Rev                         float64
Other Deferred Rev                   float64
Gift Card Def Rev                    float64
Acc Receivable                       float64
Gross Revenue                        float64
Discounts Recognised                 float64
Tax Payable                          float64
Net Revenue                          float64
Unit Cost                            float64
Product Id                             int64
Item Transaction Value               float64
Item Quantity                          int64
Redeemed Ticket Quantity               int64
Expired Ticket Quantity                int64
Recognised Ticket Quantity             int64
Credit Card Fee Amount               float64
Transaction Fee Amount               float64
Product Booking Fee Amount           float64
Booking Modifier Amount              float64
Discount Code Used                    object
Expiry Date                           object
External Payments                    float64
date                          datetime64[ns]
dtype: object

In [67]:
pd.api.types.is_datetime64_any_dtype(df0['date'])

True

In [73]:
df0 = df0[df0['date'] > '2022-07-01']

In [74]:
df0.head(10)

,Entry Type,Booking ID,Booking Location,Payment Device,Product Reporting Name,Product Name,Ticket Reporting Name,Ticket Name,Funds Received,Discount,...,Expired Ticket Quantity,Recognised Ticket Quantity,Credit Card Fee Amount,Transaction Fee Amount,Product Booking Fee Amount,Booking Modifier Amount,Discount Code Used,Expiry Date,External Payments,date
1281,Transaction,52303331,Online checkout,NaN,NaN,Astro Tots Adventure Playland Pass,NaN,Astro Tots 2 hrs Adventure Pass,15.66,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-09 09:20:00,0.0,2022-07-02
1282,Transaction,52303331,Online checkout,NaN,NaN,2 hr 3-5yrs Junior Gizmo and Launchpad Pass (W...,NaN,2 hr 3-5yrs Gizmo's Galaxy and Launchpad Pass ...,31.32,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-09 10:40:00,0.0,2022-07-02
1283,Transaction,52303707,Online checkout,NaN,NaN,2 hr 3-5yrs Junior Gizmo and Launchpad Pass (W...,NaN,2 hr 3-5yrs Gizmo's Galaxy and Launchpad Pass ...,64.24,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-08 12:40:00,0.0,2022-07-02
1284,Transaction,52303707,Online checkout,NaN,NaN,Astro Tots Adventure Playland Pass,NaN,Astro Tots 2 hrs Adventure Pass,32.12,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-08 11:20:00,0.0,2022-07-02
1285,Transaction,52303707,Online checkout,NaN,NaN,2 hr 6yrs+ The Universe Pass (Public Holidays),NaN,2 hr 6yrs+ The Universe Pass (Weekends & Holid...,85.65,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-08 12:40:00,0.0,2022-07-02
1286,Transaction,52303707,Online checkout,NaN,NaN,Multiverse Mega Slide (Age 6+) - 3 Rides,NaN,Multiverse Mega Slide (Age 6+) - 3 Rides,12.85,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-08 12:40:00,0.0,2022-07-02
1287,Transaction,52303707,Online checkout,NaN,NaN,GRIP SOCKS,NaN,Area 51 Socks,14.99,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-08 12:40:00,0.0,2022-07-02
1288,Transaction,52303707,Online checkout,NaN,NaN,Animal Ride On,NaN,Animal Ride On,25.70,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-08 12:40:00,0.0,2022-07-02
1289,Transaction,52304252,Online checkout,NaN,NaN,2 hr 3-5yrs Junior Gizmo and Launchpad Pass (W...,NaN,2 hr 3-5yrs Gizmo's Galaxy and Launchpad Pass ...,31.65,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-09 15:40:00,0.0,2022-07-02
1290,Transaction,52304976,Online checkout,NaN,NaN,VIP Infinity 6Yrs+ Unlimited Pass (Weekends & ...,NaN,VIP Infinity 6Yrs+ Unlimited Pass (Weekends & ...,72.49,0.0,...,0,0,0.0,0.0,0.0,0.0,NaN,2022-07-08 10:20:00,0.0,2022-07-02

In [75]:
df0['Ticket Name'].nunique()

1749

In [72]:
df_grouped.head(10)

         date  count    funds
0  2022-05-12      1     1.02
1  2022-05-30     32  2741.56
2  2022-06-01      7   452.42
3  2022-06-03     21  2355.81
4  2022-06-04     27  2454.73
5  2022-06-05     16  1494.15
6  2022-06-06     12   590.52
7  2022-06-07     25  1615.69
8  2022-06-08      7   935.53
9  2022-06-09     36  1255.00

In [76]:
pd.api.types.is_datetime64_any_dtype(df_grouped['date'])

False

In [77]:
df_grouped['date'] = pd.to_datetime(df_grouped['date']).dt.normalize()
pd.api.types.is_datetime64_any_dtype(df_grouped['date'])

True

In [78]:
df_grouped = df_grouped[df_grouped['date'] > '2022-07-01']

In [83]:
df_grouped = df_grouped[df_grouped['date'] > '2022-07-03']
df_grouped.reset_index(drop=True, inplace=True)
df_grouped.head(10)

        date  count     funds
0 2022-07-04   1004  25294.82
1 2022-07-05   1647  35762.88
2 2022-07-06   2418  38736.68
3 2022-07-07    727  34504.45
4 2022-07-08   4417  52519.30
5 2022-07-09   3028  25652.15
6 2022-07-10   2303  25455.29
7 2022-07-11   1288  22235.53
8 2022-07-12    940  16772.46
9 2022-07-13    380  12114.32

In [92]:
import holidays

years = df_grouped['date'].dt.year.unique().tolist()
qld_holidays = holidays.Australia(subdiv='QLD', years=years)
df_grouped['is_holiday'] = df_grouped['date'].dt.date.isin(qld_holidays)
df_grouped['is_holiday'] = df_grouped['is_holiday'].astype(int)
df_grouped.head(10)

        date  count     funds  is_holiday  weekday
0 2022-07-04   1004  25294.82           0        0
1 2022-07-05   1647  35762.88           0        1
2 2022-07-06   2418  38736.68           0        2
3 2022-07-07    727  34504.45           0        3
4 2022-07-08   4417  52519.30           0        4
5 2022-07-09   3028  25652.15           0        5
6 2022-07-10   2303  25455.29           0        6
7 2022-07-11   1288  22235.53           0        0
8 2022-07-12    940  16772.46           0        1
9 2022-07-13    380  12114.32           0        2

In [96]:
df_grouped[df_grouped['is_holiday'] == 1].shape

(39, 5)

In [88]:
df_grouped['date'] = pd.to_datetime(df_grouped['date'])
df_grouped['weekday'] = df_grouped['date'].dt.weekday

In [89]:
df_grouped.head(10)

        date  count     funds  is_holiday  weekday
0 2022-07-04   1004  25294.82           0        0
1 2022-07-05   1647  35762.88           0        1
2 2022-07-06   2418  38736.68           0        2
3 2022-07-07    727  34504.45           0        3
4 2022-07-08   4417  52519.30           0        4
5 2022-07-09   3028  25652.15           0        5
6 2022-07-10   2303  25455.29           0        6
7 2022-07-11   1288  22235.53           0        0
8 2022-07-12    940  16772.46           0        1
9 2022-07-13    380  12114.32           0        2

In [98]:
school_holiday_ranges = [
    # 2022
    ('2022-06-25', '2022-07-10'),
    ('2022-09-17', '2022-10-03'),
    ('2022-12-10', '2023-01-22'),
    # 2023
    ('2023-04-01', '2023-04-16'),
    ('2023-06-24', '2023-07-09'),
    ('2023-09-16', '2023-10-02'),
    ('2023-12-09', '2024-01-21'),
    # 2024
    ('2024-03-29', '2024-04-14'),
    ('2024-06-22', '2024-07-07'),
    ('2024-09-14', '2024-09-29'),
    ('2024-12-14', '2025-01-27'),
    # 2025
    ('2025-04-05', '2025-04-21'),
    ('2025-06-28', '2025-07-13'),
]

holiday_dates = set()
for start, end in school_holiday_ranges:
    dates = pd.date_range(start=start, end=end)
    holiday_dates.update(dates)

df_grouped['is_school_holiday'] = df_grouped['date'].isin(holiday_dates).astype(int)
df_grouped[:-1]

           date  count     funds  is_holiday  weekday  is_school_holiday
0    2022-07-04   1004  25294.82           0        0                  1
1    2022-07-05   1647  35762.88           0        1                  1
2    2022-07-06   2418  38736.68           0        2                  1
3    2022-07-07    727  34504.45           0        3                  1
4    2022-07-08   4417  52519.30           0        4                  1
...         ...    ...       ...         ...      ...                ...
1099 2025-07-07   4647  56965.01           0        0                  1
1100 2025-07-08   4609  54898.69           0        1                  1
1101 2025-07-09   5479  49112.31           0        2                  1
1102 2025-07-10   5155  48656.56           0        3                  1
1103 2025-07-11   6106  51875.73           0        4                  1

[1104 rows x 6 columns]

In [99]:
df_maxtemp = pd.read_csv('weather/UD/max_temp.csv')
df_maxtemp.head(10)

,Product code,Bureau of Meteorology station number,Year,Month,Day,Maximum temperature (Degree C),Days of accumulation of maximum temperature,Quality
0,IDCJAC0010,40211,1939,1,1,NaN,NaN,NaN
1,IDCJAC0010,40211,1939,1,2,NaN,NaN,NaN
2,IDCJAC0010,40211,1939,1,3,NaN,NaN,NaN
3,IDCJAC0010,40211,1939,1,4,NaN,NaN,NaN
4,IDCJAC0010,40211,1939,1,5,NaN,NaN,NaN
5,IDCJAC0010,40211,1939,1,6,NaN,NaN,NaN
6,IDCJAC0010,40211,1939,1,7,NaN,NaN,NaN
7,IDCJAC0010,40211,1939,1,8,NaN,NaN,NaN
8,IDCJAC0010,40211,1939,1,9,NaN,NaN,NaN
9,IDCJAC0010,40211,1939,1,10,NaN,NaN,NaN

In [101]:
df_maxtemp.shape

(31616, 8)

In [102]:
df_maxtemp['date'] = pd.to_datetime(df_maxtemp[['Year', 'Month', 'Day']])

df_maxtemp.rename(columns={
    'Maximum temperature (Degree C)': 'max_temp'
}, inplace=True)
df_maxtemp.head(10)

,Product code,Bureau of Meteorology station number,Year,Month,Day,max_temp,Days of accumulation of maximum temperature,Quality,date
0,IDCJAC0010,40211,1939,1,1,NaN,NaN,NaN,1939-01-01
1,IDCJAC0010,40211,1939,1,2,NaN,NaN,NaN,1939-01-02
2,IDCJAC0010,40211,1939,1,3,NaN,NaN,NaN,1939-01-03
3,IDCJAC0010,40211,1939,1,4,NaN,NaN,NaN,1939-01-04
4,IDCJAC0010,40211,1939,1,5,NaN,NaN,NaN,1939-01-05
5,IDCJAC0010,40211,1939,1,6,NaN,NaN,NaN,1939-01-06
6,IDCJAC0010,40211,1939,1,7,NaN,NaN,NaN,1939-01-07
7,IDCJAC0010,40211,1939,1,8,NaN,NaN,NaN,1939-01-08
8,IDCJAC0010,40211,1939,1,9,NaN,NaN,NaN,1939-01-09
9,IDCJAC0010,40211,1939,1,10,NaN,NaN,NaN,1939-01-10

In [103]:
pd.api.types.is_datetime64_any_dtype(df_maxtemp['date'])

True

In [108]:
df_maxtemp.head(10)

,Product code,Bureau of Meteorology station number,max_temp,Days of accumulation of maximum temperature,Quality,date
0,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-01
1,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-02
2,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-03
3,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-04
4,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-05
5,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-06
6,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-07
7,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-08
8,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-09
9,IDCJAC0010,40211,NaN,NaN,NaN,1939-01-10

In [109]:
df_maxtemp.drop('Days of accumulation of maximum temperature', axis = 1, inplace = True)
df_maxtemp.drop('Quality', axis = 1, inplace = True)
df_maxtemp.head(10)

  Product code  Bureau of Meteorology station number  max_temp       date
0   IDCJAC0010                                 40211       NaN 1939-01-01
1   IDCJAC0010                                 40211       NaN 1939-01-02
2   IDCJAC0010                                 40211       NaN 1939-01-03
3   IDCJAC0010                                 40211       NaN 1939-01-04
4   IDCJAC0010                                 40211       NaN 1939-01-05
5   IDCJAC0010                                 40211       NaN 1939-01-06
6   IDCJAC0010                                 40211       NaN 1939-01-07
7   IDCJAC0010                                 40211       NaN 1939-01-08
8   IDCJAC0010                                 40211       NaN 1939-01-09
9   IDCJAC0010                                 40211       NaN 1939-01-10

In [110]:
df_maxtemp.drop('Bureau of Meteorology station number', axis = 1, inplace = True)
df_maxtemp.drop('Product code', axis = 1, inplace = True)
df_maxtemp.head(10)

   max_temp       date
0       NaN 1939-01-01
1       NaN 1939-01-02
2       NaN 1939-01-03
3       NaN 1939-01-04
4       NaN 1939-01-05
5       NaN 1939-01-06
6       NaN 1939-01-07
7       NaN 1939-01-08
8       NaN 1939-01-09
9       NaN 1939-01-10

In [111]:
df_merged1 = pd.merge(df_grouped, df_maxtemp, on='date', how='left')
df_merged1.head(10)

,date,count,funds,is_holiday,weekday,is_school_holiday,max_temp
0,2022-07-04,1004,25294.82,0,0,1,14.0
1,2022-07-05,1647,35762.88,0,1,1,13.5
2,2022-07-06,2418,38736.68,0,2,1,19.0
3,2022-07-07,727,34504.45,0,3,1,NaN
4,2022-07-08,4417,52519.30,0,4,1,19.2
5,2022-07-09,3028,25652.15,0,5,1,18.8
6,2022-07-10,2303,25455.29,0,6,1,20.5
7,2022-07-11,1288,22235.53,0,0,0,20.2
8,2022-07-12,940,16772.46,0,1,0,19.6
9,2022-07-13,380,12114.32,0,2,0,19.3

In [113]:
print(df_merged1.isna().sum())

date                 0
count                0
funds                0
is_holiday           0
weekday              0
is_school_holiday    0
max_temp             4
dtype: int64

In [115]:
import numpy as np

temps = df_merged1['max_temp'].values.copy()

for i in range(1, len(temps) - 1):
    if np.isnan(temps[i]) and not np.isnan(temps[i - 1]) and not np.isnan(temps[i + 1]):
        temps[i] = (temps[i - 1] + temps[i + 1]) / 2
        
df_merged1['max_temp'] = temps
print(df_merged1.isna().sum())

date                 0
count                0
funds                0
is_holiday           0
weekday              0
is_school_holiday    0
max_temp             0
dtype: int64

In [118]:
df_mintemp = pd.read_csv('weather/UD/min_temp.csv')
df_mintemp['date'] = pd.to_datetime(df_mintemp[['Year', 'Month', 'Day']])

df_mintemp.rename(columns={
    'Minimum temperature (Degree C)': 'min_temp'
}, inplace=True)
df_mintemp.head(10)

,Product code,Bureau of Meteorology station number,Year,Month,Day,min_temp,Days of accumulation of minimum temperature,Quality,date
0,IDCJAC0011,40211,1939,1,1,NaN,NaN,NaN,1939-01-01
1,IDCJAC0011,40211,1939,1,2,NaN,NaN,NaN,1939-01-02
2,IDCJAC0011,40211,1939,1,3,NaN,NaN,NaN,1939-01-03
3,IDCJAC0011,40211,1939,1,4,NaN,NaN,NaN,1939-01-04
4,IDCJAC0011,40211,1939,1,5,NaN,NaN,NaN,1939-01-05
5,IDCJAC0011,40211,1939,1,6,NaN,NaN,NaN,1939-01-06
6,IDCJAC0011,40211,1939,1,7,NaN,NaN,NaN,1939-01-07
7,IDCJAC0011,40211,1939,1,8,NaN,NaN,NaN,1939-01-08
8,IDCJAC0011,40211,1939,1,9,NaN,NaN,NaN,1939-01-09
9,IDCJAC0011,40211,1939,1,10,NaN,NaN,NaN,1939-01-10

In [119]:
df_mintemp.drop('Product code', axis = 1, inplace = True)
df_mintemp.drop('Bureau of Meteorology station number', axis = 1, inplace = True)
df_mintemp.drop('Year', axis = 1, inplace = True)
df_mintemp.drop('Month', axis = 1, inplace = True)
df_mintemp.drop('Day', axis = 1, inplace = True)
df_mintemp.drop('Days of accumulation of minimum temperature', axis = 1, inplace = True)
df_mintemp.drop('Quality', axis = 1, inplace = True)
df_mintemp.head(10)

   min_temp       date
0       NaN 1939-01-01
1       NaN 1939-01-02
2       NaN 1939-01-03
3       NaN 1939-01-04
4       NaN 1939-01-05
5       NaN 1939-01-06
6       NaN 1939-01-07
7       NaN 1939-01-08
8       NaN 1939-01-09
9       NaN 1939-01-10

In [120]:
df_merged2 = pd.merge(df_merged1, df_mintemp, on='date', how='left')
temps = df_merged2['min_temp'].values.copy()

for i in range(1, len(temps) - 1):
    if np.isnan(temps[i]) and not np.isnan(temps[i - 1]) and not np.isnan(temps[i + 1]):
        temps[i] = (temps[i - 1] + temps[i + 1]) / 2
        
df_merged2['min_temp'] = temps
print(df_merged2.isna().sum())

date                 0
count                0
funds                0
is_holiday           0
weekday              0
is_school_holiday    0
max_temp             0
min_temp             0
dtype: int64

In [121]:
df_merged2.head(10)

,date,count,funds,is_holiday,weekday,is_school_holiday,max_temp,min_temp
0,2022-07-04,1004,25294.82,0,0,1,14.0,11.4
1,2022-07-05,1647,35762.88,0,1,1,13.5,10.1
2,2022-07-06,2418,38736.68,0,2,1,19.0,10.9
3,2022-07-07,727,34504.45,0,3,1,19.1,11.9
4,2022-07-08,4417,52519.30,0,4,1,19.2,9.6
5,2022-07-09,3028,25652.15,0,5,1,18.8,7.0
6,2022-07-10,2303,25455.29,0,6,1,20.5,5.2
7,2022-07-11,1288,22235.53,0,0,0,20.2,4.2
8,2022-07-12,940,16772.46,0,1,0,19.6,5.8
9,2022-07-13,380,12114.32,0,2,0,19.3,7.6

In [122]:
df_rainfall = pd.read_csv('weather/UD/rainfall.csv')
df_rainfall.head(10)

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
0,IDCJAC0009,40784,2000,1,1,NaN,NaN,NaN
1,IDCJAC0009,40784,2000,1,2,NaN,NaN,NaN
2,IDCJAC0009,40784,2000,1,3,NaN,NaN,NaN
3,IDCJAC0009,40784,2000,1,4,NaN,NaN,NaN
4,IDCJAC0009,40784,2000,1,5,NaN,NaN,NaN
5,IDCJAC0009,40784,2000,1,6,NaN,NaN,NaN
6,IDCJAC0009,40784,2000,1,7,NaN,NaN,NaN
7,IDCJAC0009,40784,2000,1,8,NaN,NaN,NaN
8,IDCJAC0009,40784,2000,1,9,NaN,NaN,NaN
9,IDCJAC0009,40784,2000,1,10,NaN,NaN,NaN

In [123]:
df_rainfall['date'] = pd.to_datetime(df_rainfall[['Year', 'Month', 'Day']])

df_rainfall.rename(columns={
    'Rainfall amount (millimetres)': 'rainfall'
}, inplace=True)
df_rainfall.drop('Product code', axis = 1, inplace = True)
df_rainfall.drop('Bureau of Meteorology station number', axis = 1, inplace = True)
df_rainfall.drop('Year', axis = 1, inplace = True)
df_rainfall.drop('Month', axis = 1, inplace = True)
df_rainfall.drop('Day', axis = 1, inplace = True)
df_rainfall.drop('Period over which rainfall was measured (days)', axis = 1, inplace = True)
df_rainfall.drop('Quality', axis = 1, inplace = True)
df_rainfall.head(10)

   rainfall       date
0       NaN 2000-01-01
1       NaN 2000-01-02
2       NaN 2000-01-03
3       NaN 2000-01-04
4       NaN 2000-01-05
5       NaN 2000-01-06
6       NaN 2000-01-07
7       NaN 2000-01-08
8       NaN 2000-01-09
9       NaN 2000-01-10

In [125]:
df_merged3 = pd.merge(df_merged2, df_rainfall, on='date', how='left')
temps = df_merged3['rainfall'].values.copy()

for i in range(1, len(temps) - 1):
    if np.isnan(temps[i]) and not np.isnan(temps[i - 1]) and not np.isnan(temps[i + 1]):
        print(i)
        temps[i] = (temps[i - 1] + temps[i + 1]) / 2
        
df_merged3['rainfall'] = temps
print(df_merged3.isna().sum())

date                  0
count                 0
funds                 0
is_holiday            0
weekday               0
is_school_holiday     0
max_temp              0
min_temp              0
rainfall             98
dtype: int64

In [127]:
df_merged3[df_merged3['rainfall'].isna()]

,date,count,funds,is_holiday,weekday,is_school_holiday,max_temp,min_temp,rainfall
799,2024-09-10,1395,25813.00,0,1,0,26.7,17.8,NaN
800,2024-09-11,1526,20500.45,0,2,0,26.7,15.8,NaN
801,2024-09-12,1537,21553.46,0,3,0,28.0,13.5,NaN
802,2024-09-13,2735,31261.17,0,4,0,23.2,12.3,NaN
803,2024-09-14,6545,38529.39,0,5,1,23.8,10.8,NaN
...,...,...,...,...,...,...,...,...,...
1076,2025-06-14,5694,34159.70,0,5,0,20.7,4.9,NaN
1077,2025-06-15,4876,28239.51,0,6,0,22.2,5.9,NaN
1078,2025-06-16,1247,17859.15,0,0,0,23.0,6.2,NaN
1079,2025-06-17,1010,18668.82,0,1,0,18.0,9.4,NaN
1080,2025-06-18,1108,16337.50,0,2,0,21.5,11.3,NaN

In [128]:
df_rainfall2 = pd.read_csv('weather/UD/rainfall2.csv')
df_rainfall2.head(10)

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
0,IDCJAC0009,40715,1980,1,1,NaN,NaN,NaN
1,IDCJAC0009,40715,1980,1,2,NaN,NaN,NaN
2,IDCJAC0009,40715,1980,1,3,NaN,NaN,NaN
3,IDCJAC0009,40715,1980,1,4,NaN,NaN,NaN
4,IDCJAC0009,40715,1980,1,5,NaN,NaN,NaN
5,IDCJAC0009,40715,1980,1,6,NaN,NaN,NaN
6,IDCJAC0009,40715,1980,1,7,NaN,NaN,NaN
7,IDCJAC0009,40715,1980,1,8,NaN,NaN,NaN
8,IDCJAC0009,40715,1980,1,9,NaN,NaN,NaN
9,IDCJAC0009,40715,1980,1,10,NaN,NaN,NaN

In [129]:
df_rainfall2['date'] = pd.to_datetime(df_rainfall2[['Year', 'Month', 'Day']])

df_rainfall2.rename(columns={
    'Rainfall amount (millimetres)': 'rainfall'
}, inplace=True)
df_rainfall2.drop('Product code', axis = 1, inplace = True)
df_rainfall2.drop('Bureau of Meteorology station number', axis = 1, inplace = True)
df_rainfall2.drop('Year', axis = 1, inplace = True)
df_rainfall2.drop('Month', axis = 1, inplace = True)
df_rainfall2.drop('Day', axis = 1, inplace = True)
df_rainfall2.drop('Period over which rainfall was measured (days)', axis = 1, inplace = True)
df_rainfall2.drop('Quality', axis = 1, inplace = True)
df_rainfall2.head(10)

   rainfall       date
0       NaN 1980-01-01
1       NaN 1980-01-02
2       NaN 1980-01-03
3       NaN 1980-01-04
4       NaN 1980-01-05
5       NaN 1980-01-06
6       NaN 1980-01-07
7       NaN 1980-01-08
8       NaN 1980-01-09
9       NaN 1980-01-10

In [130]:
df_rainfall2 = df_rainfall2.rename(columns={'rainfall': 'rainfall_new'})
df_merged3 = df_merged3.merge(df_rainfall2[['date', 'rainfall_new']], on='date', how='left')
df_merged3['rainfall'] = df_merged3['rainfall'].fillna(df_merged3['rainfall_new'])
df_merged3.drop(columns=['rainfall_new'], inplace=True)
df_merged3[df_merged3['rainfall'].isna()]

Empty DataFrame
Columns: [date, count, funds, is_holiday, weekday, is_school_holiday, max_temp, min_temp, rainfall]
Index: []

In [132]:
df_solar = pd.read_csv('weather/UD/solar.csv')
df_solar.head(10)

,Product code,Bureau of Meteorology station number,Year,Month,Day,Daily global solar exposure (MJ/m*m)
0,IDCJAC0016,40974,1990,1,1,32.8
1,IDCJAC0016,40974,1990,1,2,33.6
2,IDCJAC0016,40974,1990,1,3,NaN
3,IDCJAC0016,40974,1990,1,4,33.2
4,IDCJAC0016,40974,1990,1,5,18.9
5,IDCJAC0016,40974,1990,1,6,15.8
6,IDCJAC0016,40974,1990,1,7,22.5
7,IDCJAC0016,40974,1990,1,8,16.6
8,IDCJAC0016,40974,1990,1,9,10.7
9,IDCJAC0016,40974,1990,1,10,21.2

In [133]:
df_solar['date'] = pd.to_datetime(df_solar[['Year', 'Month', 'Day']])

df_solar.rename(columns={
    'Daily global solar exposure (MJ/m*m)': 'solar'
}, inplace=True)
df_solar.drop('Product code', axis = 1, inplace = True)
df_solar.drop('Bureau of Meteorology station number', axis = 1, inplace = True)
df_solar.drop('Year', axis = 1, inplace = True)
df_solar.drop('Month', axis = 1, inplace = True)
df_solar.drop('Day', axis = 1, inplace = True)
df_solar.head(10)

   solar       date
0   32.8 1990-01-01
1   33.6 1990-01-02
2    NaN 1990-01-03
3   33.2 1990-01-04
4   18.9 1990-01-05
5   15.8 1990-01-06
6   22.5 1990-01-07
7   16.6 1990-01-08
8   10.7 1990-01-09
9   21.2 1990-01-10

In [135]:
df_merged4 = pd.merge(df_merged3, df_solar, on='date', how='left')
temps = df_merged4['solar'].values.copy()

for i in range(1, len(temps) - 1):
    if np.isnan(temps[i]) and not np.isnan(temps[i - 1]) and not np.isnan(temps[i + 1]):
        print(i)
        temps[i] = (temps[i - 1] + temps[i + 1]) / 2
        
df_merged4['solar'] = temps
print(df_merged4.isna().sum())

131
880
date                 0
count                0
funds                0
is_holiday           0
weekday              0
is_school_holiday    0
max_temp             0
min_temp             0
rainfall             0
solar                0
dtype: int64

In [136]:
df_merged4.head(10)

,date,count,funds,is_holiday,weekday,is_school_holiday,max_temp,min_temp,rainfall,solar
0,2022-07-04,1004,25294.82,0,0,1,14.0,11.4,0.0,5.0
1,2022-07-05,1647,35762.88,0,1,1,13.5,10.1,12.0,4.7
2,2022-07-06,2418,38736.68,0,2,1,19.0,10.9,10.0,10.9
3,2022-07-07,727,34504.45,0,3,1,19.1,11.9,0.0,14.1
4,2022-07-08,4417,52519.30,0,4,1,19.2,9.6,0.0,14.2
5,2022-07-09,3028,25652.15,0,5,1,18.8,7.0,0.0,14.2
6,2022-07-10,2303,25455.29,0,6,1,20.5,5.2,0.0,12.7
7,2022-07-11,1288,22235.53,0,0,0,20.2,4.2,0.0,11.0
8,2022-07-12,940,16772.46,0,1,0,19.6,5.8,0.0,10.6
9,2022-07-13,380,12114.32,0,2,0,19.3,7.6,4.0,13.8

In [137]:
df.columns

Index(['Record Date', 'Entry Type', 'Booking ID', 'Booking Location',
       'Payment Device', 'Product Reporting Name', 'Product Name',
       'Ticket Reporting Name', 'Ticket Name', 'Funds Received', 'Discount',
       'Fee Revenue', 'Tax Collected', 'Tax %', 'Status', 'Transaction ID',
       'Transaction Location', 'Payment Method', 'Gateway ID', 'GL Code',
       'Ticket Quantity', 'Company Name', 'Tax On Fees', 'Deferred Rev',
       'Other Deferred Rev', 'Gift Card Def Rev', 'Acc Receivable',
       'Gross Revenue', 'Discounts Recognised', 'Tax Payable', 'Net Revenue',
       'Unit Cost', 'Product Id', 'Item Transaction Value', 'Item Quantity',
       'Redeemed Ticket Quantity', 'Expired Ticket Quantity',
       'Recognised Ticket Quantity', 'Credit Card Fee Amount',
       'Transaction Fee Amount', 'Product Booking Fee Amount',
       'Booking Modifier Amount', 'Discount Code Used', 'Expiry Date',
       'External Payments'],
      dtype='object')

In [139]:
df['Product Name'].nunique()

626

In [140]:
df['Ticket Name'].nunique()

1752

In [142]:
product_counts = df['Product Name'].value_counts().reset_index()
product_counts.columns = ['Product Name', 'Count']

product_counts.to_csv('unique_product_names.csv', index=False)

ticket_counts = df['Ticket Name'].value_counts().reset_index()
ticket_counts.columns = ['Ticket Name', 'Count']

ticket_counts.to_csv('unique_ticket_names.csv', index=False)